{% extends 'core/base.html' %}

{% block content %}
    <h2>Module: {{ module.module_name }}</h2>
    <!-- Module details... -->

    {% if is_creator_or_superuser or is_teacher %}
        <a href="{% url 'courses:lesson_create' module_id=module.pk %}">+ Add Lesson</a>
    {% endif %}

    {% if test_exists %}
        {% if is_creator_or_superuser %}
            <a href="{% url 'courses:create_edit_test' parent_type='module' parent_id=module.pk %}">Edit Test</a>
        {% endif %}
        <a href="{% url 'courses:take_test' test_id=test.pk %}">Take Test</a>
    {% else %}
        {% if is_creator_or_superuser %}
            <a href="{% url 'courses:create_edit_test' parent_type='module' parent_id=module.pk %}">+ Create Test</a>
        {% endif %}
    {% endif %}

    <h3>Lessons</h3>
    <ul>
        {% for lesson in module.lessons.all %}
            <li>{{ lesson.lesson_name }}
                <a href="{% url 'courses:lesson_detail' pk=lesson.pk %}">View Details</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
