{% extends 'subjects/base.html' %}

{% load static %}
{% load l10n %}

{% block flex-content %}
    {% include "subjects/components/crm2-student-sidebar.html" %}
    <main class="main flex-1 pb-[100px] w-3/4 font-[Qanelas]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[50px] px-5 md:px-0 md:ml-[40px] md:mr-[78px]">
            {% if news_articles %}
                <div class="news__title font-bold text-[42px] leading-[52px] text-black-main mb-[24px]">
                    Новости
                </div>
                <div class="news__main flex items-end h-[420px]" style="
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-image: url('{{ news_articles.first.image.url }}');
                        ">
                    <div class="p-[42px] items-end flex justify-between h-[210px] w-full bg-gradient-to-t from-black bg-opacity-50 z-10 rounded-[20px]">
                        <h1 class="news__main max-w-[380px] text-white text-[32px] leading-[44px] font-bold">
                            {{ news_articles.first.title }}
                        </h1>
                        <a href="{% url 'news_detail' news_articles.first.id %}" target="_blank"
                           class="py-[12px] px-[74px] border-[1px] border-white rounded-sm text-white hover:bg-white hover:text-black">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="news__inner grid gap-x-[20px] gap-y-[40px] mt-[20px] grid-cols-3 mb-[80px]">
                    {% for news in news_articles|slice:"1:" %}
                        <div class="news__item">
                            <img src="{{ news.image.url }}" alt="" class="h-[270px] w-full rounded-[10px] object-cover mb-[10px]"/>
                            <h1 class="news__item-title mb-[20px] font-semibold text-[20px] leading-[28px] text-black-main">
                                {{ news.title }}
                            </h1>
                            <a href="{% url 'news_detail' news.id %}" target="_blank"
                               class="news__item-link text-[16px] leading-[22px] text-black-main font-medium underline">Подробнее</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center pt-[90px]">
                    <img class="inline-block" src="{% static 'core/images/crm2/jirafe.png' %}" alt="">
                    <h2 class="text-[40px] leading-[50px] font-bold text-accent-red text-center mb-[20px]">В новостях все еще <br class="hidden md:block">пусто :(</h2>
                </div>
            {% endif %}
            <div class="news__pagination text-center">
                <!-- Add pagination controls here -->
            </div>
        </div>
    </main>

{% endblock %}
