{% load static %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h2>Appointments</h2>
{% for day, appointments in appointments_by_day.items %}
    <h3>{{ day|date:"D, M j" }}</h3>
    {% if appointments %}
        <ul class="list-unstyled">
            {% for appointment in appointments %}
                <li class="media">
                    {% if appointment.user.profile_picture %}
                        <img src="{{ appointment.user.profile_picture.url }}" class="mr-3" alt="{{ appointment.user.full_name }}" style="width: 64px; height: 64px; border-radius: 50%;">
                    {% else %}
                        <img src="{% static 'default_profile_pic.jpg' %}" class="mr-3" alt="Default Profile Picture" style="width: 64px; height: 64px; border-radius: 50%;">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ appointment.user.full_name }}</h5>
                        {{ appointment.start_time|time:"P" }} - {{ appointment.end_time|time:"P" }}
                        {% if appointment.can_create_meeting %}
                            {% if is_superuser_or_psychologist %}
                                <button type="button" class="btn btn-success" onclick="showMeetingModal('{{ appointment.id }}');" data-toggle="modal" data-target="#meetingModal">
                                    Create Meeting
                                </button>
                            {% elif appointment.meeting_link %}
                                <button type="button" class="btn btn-info" onclick="showLinkModal('{{ appointment.meeting_link }}');">
                                    Meeting Link
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No appointments</p>
    {% endif %}
    <button type="button" class="btn btn-primary" onclick="setAppointmentDate('{{ day|date:'Y-m-d' }}');" data-toggle="modal" data-target="#appointmentModal">
        Add Appointment
    </button>
{% endfor %}

<div class="modal fade" id="meetingModal" tabindex="-1" aria-labelledby="meetingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="meetingModalLabel">Set Meeting Link</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'appointments:set_meeting_link' %}">
                    {% csrf_token %}
                    <input type="hidden" name="appointment_id" id="meeting_appointment_id">
                    <input type="url" id="meeting_link" name="link" required>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Link</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkModalLabel">Meeting Link</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="meetingLinkText"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
function setAppointmentDate(date) {
    document.getElementById('id_date').value = Date.parse(date);
}

function showMeetingModal(appointmentId) {
    document.getElementById('meeting_appointment_id').value = appointmentId;
    $('#meetingModal').modal('show');
}

function showLinkModal(link) {
    document.getElementById('meetingLinkText').textContent = link;
    $('#linkModal').modal('show');
}
</script>
{% endblock %}
