{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room - {{ room.title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h1>{{ room.title }}</h1>
    <div>
        <h2>Lesson Subject Details</h2>
        <p>Subject: {{ lesson.subject.name }}</p>
        <p>Description: {{ lesson.subject.description }}</p>
        {% if lesson.subject.image %}
            <img src="{{ lesson.subject.image.url }}" alt="{{ lesson.subject.name }}" style="max-width:200px; max-height:200px;">
        {% endif %}
    </div>
    <div>
        <h2>Messages</h2>
        <ul>
    {% for message in room.messages.all %}
    <li>
        <strong>{{ message.user.full_name }} ({{ message.timestamp|date:"d M Y H:i:s" }})</strong><br>
        {{ message.message|safe }}  <!-- Use the 'safe' filter to render HTML properly -->
        {% if message.file and not message.message %}
        <br>
        {% if message.file.url|lower|slice:"-4:" in ".png,.jpg,.jpeg,.gif" %}
        <img src="{{ message.file.url }}" alt="Uploaded File" style="max-width:200px; max-height:200px;">
        {% else %}
        <a href="{{ message.file.url }}" target="_blank">View File</a>
        {% endif %}
        {% endif %}
    </li>
    {% empty %}
    <li>No messages in this chat room yet.</li>
    {% endfor %}
</ul>
    </div>
    <div>
        <h3>Send a message or file:</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>
    </div>
<div>
    <a href="{% url 'chats:create_task' room.id %}">Create Task</a>
</div>
<div>
    <h3>Group Template Users:</h3>
    <ul>
        {% for user in group_template_users %}
            <li>{{ user.full_name }} ({{ user.email }})</li>
        {% empty %}
            <li>No students in this group template.</li>
        {% endfor %}
    </ul>
    <h2>Teacher</h2>
{% if teacher %}
    <p>{{ teacher.full_name }} ({{ teacher.email }})</p>
{% else %}
    <p>No teacher assigned to this lesson.</p>
{% endif %}
</div>
</body>

</html>
