{% extends 'subjects/base.html' %}

{% load static %}
{% load l10n %}

{% block flex-content %}
    {% include "subjects/components/crm2-student-sidebar.html" %}
    <main class="main flex-1 pb-[100px] w-3/4 font-[Qanelas]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[50px] ml-[40px] mr-[78px] max-w-[1040px]">
            <div class="course w-full h-block flex bg-white shadow-[0px_4px_20px_0px_#00000014] rounded-lg">
                <div class="course__info w-[280px] text-center items-center flex flex-col p-[14px] pt-[40px]">
                    <div class="course__info-img mb-[20px]">
                        {% if lesson.subject.image %}
                            <img class="object-cover w-[160px] h-[160px] rounded-lg" src="{{ lesson.subject.image.url }}" alt=""/>
                        {% else %}
                            <img class="object-cover w-[160px] h-[160px] rounded-lg" src="{% static 'path/to/default/image.jpg' %}" alt="Default Image"/>
                        {% endif %}
                    </div>
                    <h1 class="course__info-title font-semibold text-[24px] leading-[30px] text-black-main mb-[6px]">
                        {{ lesson.subject.name }}
                    </h1>
                    <p class="course__info-text text-[16px] mb-[28px] font-medium leading-[20px] text-black-main">
                        {{ lesson.subject.description }}
                    </p>
                    <div class="course__info-avatar flex gap-[12px] items-center">
                        {% if teacher %}
                            {% if teacher.profile_picture %}
                                <img src="{{ teacher.profile_picture.url }}" alt=""
                                     class="w-[32px] h-[32px] rounded-full"/>
                            {% else %}
                                <img src="{% static 'core/images/default-user.svg' %}" alt=""
                                     class="w-[32px] h-[32px] rounded-full"/>
                            {% endif %}
                            <div class="course__info-avatar--fullname font-semibold text-[16px] leading-[20px] text-black-main">
                                {{ teacher.full_name }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="w-full h-full bg-[#FAFAFA] rounded-lg px-[14px] pt-[24px] text-[#a4a4a4] text-left">
                        <h1 class="font-bold text-[16px] uppercase">участники</h1>
                        <div class="h-[260px] overflow-hidden overflow-y-scroll py-[12px] space-y-3">
                            {% for student in group_template_users %}
                                <div class="course__info-avatar flex gap-[12px] items-center">
                                    {% if student.profile_picture %}
                                        <img src="{{ student.profile_picture.url }}" alt=""
                                             class="w-[32px] h-[32px] rounded-full"/>
                                    {% else %}
                                        <img src="{% static 'core/images/default-user.svg' %}" alt=""
                                             class="w-[32px] h-[32px] rounded-full"/>
                                    {% endif %}
                                    <div class="course__info-avatar--fullname font-semibold text-[16px] leading-[20px] text-black-main">
                                        {{ student.full_name }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="course__content bg-[#FAFAFA] min-h-full w-[760px] rounded-md pt-[12px] px-[40px] pb-[45px] overflow-hidden overflow-y-auto">
                    <div class="course__content-day pt-[24px] gap-[12px] flex flex-col">
                        {% regroup room.messages.all by timestamp|date:"d M" as objects_by_day %}
                        {% for d in objects_by_day %}
                            <h1 class="day__title text-center font-bold text-[16px] leading-[24px] text-[#9D9E9E]">
                                {{ d.grouper }}
                            </h1>
                            {% for message in d.list %}
                                <div class="course__content-message flex gap-[12px]">
                                    {% if message.user.profile_picture %}
                                        <img src="{{ message.user.profile_picture }}" alt=""
                                             class="w-[42px] h-[42px] rounded-full"/>
                                    {% else %}
                                        <img src="{% static 'core/images/default-user.svg' %}" alt=""
                                             class="w-[42px] h-[42px] rounded-full"/>
                                    {% endif %}
                                    <div class="course__content-message--content bg-[#FFFFFF] shadow-[0px_4px_24px_0px_#0000000A] rounded-md p-[20px] w-full grid gap-[6px]">
                                        <h1 class="message__author-fullname text-[12px] leading-[14px] font-semibold text-[#583ACF] ">
                                            {{ message.user.full_name }}
                                        </h1>
                                        <p class="message__author-text text-black-main font-medium text-[16px] leading-[24px] ">
                                            {{ message.message|safe }}
                                        </p>
                                        <div class="message__author-date text-[12px] leading-[18px] text-[#B5B5B5] font-medium">
                                            {{ message.timestamp|date:"d M Y H:i" }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% comment %}
                <h1>{{ room.title }}</h1>
                <div>
                    <h2>Lesson Subject Details</h2>
                    <p>Subject: {{ lesson.subject.name }}</p>
                    <p>Description: {{ lesson.subject.description }}</p>
                    {% if lesson.subject.image %}
                        <img src="{{ lesson.subject.image.url }}" alt="{{ lesson.subject.name }}"
                             style="max-width:200px; max-height:200px;">
                    {% endif %}
                </div>
                <div>
                    <h2>Messages</h2>
                    <ul>
                        {% for message in room.messages.all %}
                            <li>
                                <strong>{{ message.user.full_name }}
                                    ({{ message.timestamp|date:"d M Y H:i:s" }})</strong><br>
                                {{ message.message|safe }}
                                <!-- Use the 'safe' filter to render HTML properly -->
                                {% if message.file and not message.message %}
                                    <br>
                                    {% if message.file.url|lower|slice:"-4:" in ".png,.jpg,.jpeg,.gif" %}
                                        <img src="{{ message.file.url }}" alt="Uploaded File"
                                             style="max-width:200px; max-height:200px;">
                                    {% else %}
                                        <a href="{{ message.file.url }}" target="_blank">View File</a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% empty %}
                            <li>No messages in this chat room yet.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3>Send a message or file:</h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Send</button>
                    </form>
                </div>
                <div>
                    <a href="{% url 'chats:create_task' room.id %}">Create Task</a>
                </div>
                <div>
                    <h3>Group Template Users:</h3>
                    <ul>
                        {% for user in group_template_users %}
                            <li>{{ user.full_name }} ({{ user.email }})</li>
                        {% empty %}
                            <li>No students in this group template.</li>
                        {% endfor %}
                    </ul>
                    <h2>Teacher</h2>
                    {% if teacher %}
                        <p>{{ teacher.full_name }} ({{ teacher.email }})</p>
                    {% else %}
                        <p>No teacher assigned to this lesson.</p>
                    {% endif %}
                    <div>
                        <h3>Set Grade for Today:</h3>
                        <a href="{% url 'subjects:set_grade' lesson.id %}" class="btn btn-primary">Set grade to
                            this day</a>
                    </div>

                </div>
            {% endcomment %}
        </div>
    </main>

{% endblock %}