{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Main{% endblock %}</title>
    <link href="{% static "core/css/output.css" %}" rel="stylesheet">
</head>

<body class="bg-[#fafafa]">
<div class="">
        {% block content %}

        {% endblock %}
</div>
<script>
    window.onload = () => {
        {% block window_load %}

        {% endblock %}
    }
    function toggleDropdown(event) {
        event.stopPropagation();
        var dropdownMenu = document.getElementById("dropdownMenu");
        var dropdownButton = document.getElementById("dropdownButton");
        if (dropdownMenu.classList.contains("hidden")) {
            dropdownMenu.classList.remove("hidden");
            dropdownButton.classList.add("-rotate-90");
        } else {
            dropdownMenu.classList.add("hidden");
            dropdownButton.classList.remove("-rotate-90");
        }
    }

    window.onclick = function (event) {
        var dropdownMenu = document.getElementById("dropdownMenu");
        var dropdownButton = document.getElementById("dropdownButton");
        if (!dropdownMenu.contains(event.target) && event.target.id !== "dropdownButton") {
            dropdownMenu.classList.add("hidden");
            dropdownButton.classList.remove("-rotate-90");
        }
    }
</script>
</body>

</html>