{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Main</title>
    <link href="{% static "core/css/output.css" %}" rel="stylesheet">
</head>

<body class="bg-[#fafafa]">
<div class="flex">
    {% include "subjects/components/crm2-sidebar.html" %}
    <main class="main flex-1 pb-[100px] w-3/4">
        {% include "subjects/components/crm2-header.html" %}
        {% block content %}

        {% endblock %}
    </main>
</div>
<script>
    function toggleDropdown(event) {
        event.stopPropagation();
        var dropdownMenu = document.getElementById("dropdownMenu");
        var dropdownButton = document.getElementById("dropdownButton");
        if (dropdownMenu.classList.contains("hidden")) {
            dropdownMenu.classList.remove("hidden");
            dropdownButton.classList.add("-rotate-90");
        } else {
            dropdownMenu.classList.add("hidden");
            dropdownButton.classList.remove("-rotate-90");
        }
    }

    // Close the dropdown if the click is outside of it
    window.onclick = function (event) {
        var dropdownMenu = document.getElementById("dropdownMenu");
        var dropdownButton = document.getElementById("dropdownButton");
        if (!dropdownMenu.contains(event.target) && event.target.id !== "dropdownButton") {
            dropdownMenu.classList.add("hidden");
            dropdownButton.classList.remove("-rotate-90");
        }
    }
</script>
</body>

</html>