{% extends 'subjects/base.html' %}
{% load custom_tags %}

{% load static %}
{% load l10n %}

{% block flex-content %}
    {% include "subjects/components/crm2-student-sidebar.html" %}
    <main class="main flex-1 pb-[100px] w-3/4 font-[Qanelas]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[50px] px-5 md:px-0 md:ml-[40px] md:mr-[78px]">
            {% if grades_by_date.items|length > 0 %}
                <h1 class="diary__title font-bold text-[42px] leading-[52px] text-black-main mb-[17px]">Дневник</h1>
                {% for date, grades in grades_by_date.items %}
                    <div class="diary__day rounded-lg flex flex-col bg-white shadow-[0px_4px_14px_0px_#0000000A] mb-[12px]">
                        <div class="py-[5px] pl-[34px] pr-[20px] day bg-accent-red rounded-t-lg w-full text-center items-center flex flex-row justify-between"
                             style="background: linear-gradient(270deg, #BA2025 0%, #B24145 28.5%, #C12D32 100%);">
                            <div class="day__texts">
                                <p class="day__subtitle text-white font-regular text-[20px] leading-[20px]">{{ date|date:"d E" }}</p>
                            </div>
                            <img class="h-[48px] w-[48px]" src="{% static 'core/images/crm2/stars-white.svg' %}"
                                 alt=""/>
                        </div>
                        <ul class="flex flex-row results px-[30px] py-[24px] gap-y-[12px] items-start w-full">
                            {% for grade_info in grades %}
                                <li class="result__item flex flex-col gap-3 items-start md:flex-row w-full md:items-center justify-between">
                                    <p class="result__item-title min-w-[150px] font-semibold text-[16px] leading-[20px] text-black-main">{{ grade_info.grade.lesson.subject.name }}</p>
                                    {% with grade_info.grade.grade|divide:grade_info.grade.max_grade as percent %}
                                        <div class="hidden md:block result__number text-white px-[13px] py-1 rounded-md font-semibold text-[16px] leading-5 text-center
                                                    {% if percent >= 0.7 %}bg-[#51B812]{% elif percent >= 0.5 %}bg-[#D59822]{% else %}bg-[#C91D1D]{% endif %}">
                                            {{ grade_info.grade.grade }}/{{ grade_info.grade.max_grade }}
                                        </div>
                                    {% endwith %}
                                    
                                    <div class="flex flex-col-reverse justify-between gap-3 md:gap-20 md:flex-row"> 
                                        {% if grade_info.grade.file %}
                                        <a href="{% url 'subjects:download_grade_file' grade_info.grade.id %}" class="result__link underline text-black-main text-[16px] leading-[20px] font-semibold">
                                            <img class="inline mr-2" src="{% static 'core/icons/download-black-main.svg' %}" alt="">
                                            Работа с ошибками
                                        </a>
                                        {% else %}
                                        <span class="result__link text-black-main text-[16px] leading-[20px] font-semibold">
                                            <img class="inline mr-2" src="{% static 'core/icons/download-black-main.svg' %}" alt="">
                                            No file available
                                        </span>
                                        {% endif %}

                                        <div class="flex flex-row items-center">
                                            {% if grade_info.teacher.profile_picture %}
                                            <img src="{{ grade_info.teacher.profile_picture }}"
                                                 alt="Teacher's Profile Picture" class="w-[32px] h-[32px] rounded-full">
                                            {% else %}
                                            <img src="{% static 'core/images/default-user.svg' %}"
                                                 alt="No Profile Picture"
                                                 class="w-[32px] h-[32px] rounded-full">
                                            {% endif %}
                                            <p class="author__fullname font-semibold text-[16px] leading-[20px] text-black-main ml-[18px]">{{ grade_info.teacher.full_name }}</p>
                                        </div>
                                    </div>
                                    
                                </li>
                                {% with grade_info.grade.grade|divide:grade_info.grade.max_grade as percent %}
                                <div class="md:hidden result__number text-white py-1 px-3 rounded-[10px] w-fit font-semibold text-[16px] leading-5 text-center
                                            {% if percent >= 0.7 %}bg-[#51B812]{% elif percent >= 0.5 %}bg-[#D59822]{% else %}bg-[#C91D1D]{% endif %}">
                                    {{ grade_info.grade.grade }}/{{ grade_info.grade.max_grade }}
                                </div>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center pt-[90px]">
                    <img class="inline-block" src="{% static 'core/images/crm2/bear.png' %}" alt="">
                    <p class="text-accent-red text-[40px] font-bold leading-[49.56px] mt-[25px]">В вашем дневнике <br>
                        все еще пусто :(</p>
                    <p class="text-[18px] font-light mt-[20px]">Сдавайте тесты, и может быть тут что-то появится</p>
                </div>
            {% endif %}

                                    {% include "subjects/components/crm2-mobile-navbar.html" %}

        </div>
    </main>
{% endblock %}
