{% load static %}
{% block flex-content %}
    <form method="post" action="{% url 'subjects:lesson-create' time_id=time_id %}" class="flex flex-col gap-[8.5px]">
        {% csrf_token %}
        {{ form.errors }}
        <input id="id_teacher" name="teacher" type="number" hidden>
        <div onclick="dropDown('teachers')" class="dropdown relative px-[16px] py-[22px] border border-[#CDCDCD] rounded-lg flex flex-row">
            <img class="inline-block my-[3px]" src="{% static 'core/images/crm2/arrow-down-gray.svg' %}" alt="">
            <div id="selectedTeacher" class="w-full align-middle"><p class="text-[16px] my-[3px]">Выберите учителя</p></div>
            <ul id="teachers"
                class="absolute top-[110%] left-0 flex flex-col bg-white border border-[#CDCDCD] rounded-lg w-full p-[24px] gap-[12px] z-10 hidden">
                {% for key, name, img in form.teachers_info %}
                    <li onclick="selectTeacher({{ key }}, '{{ name }}', '{{ img }}')"
                        class="flex flex-row gap-[8px] items-center cursor-pointer hover:bg-gray">
                        {% if img %}
                            <img class="w-[32px] h-[32px] rounded-full" alt=""
                                 src="{{ img }}">
                        {% else %}
                            <img class="w-[32px] h-[32px] rounded-full" alt=""
                                 src="{% static 'core/images/default-user.svg' %}">
                        {% endif %}
                        <p class="text-[16px] font-semibold">{{ name }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <input placeholder="Введите название группы" class="px-[22px] py-[27px] border border-[#CDCDCD] rounded-lg"
               id="id_group_name" name="group_name" type="text">
        <input id="id_subject" name="subject" type="number" hidden>
        <div class="relative px-[16px] py-[11px] border border-[#CDCDCD] rounded-lg flex flex-row"
             onclick="dropDown('subjects')">
            <img class="inline-block" src="{% static 'core/images/crm2/arrow-down-gray.svg' %}" alt="">
            <div id="selectedSubject" class="w-full align-middle"><p class="text-[16px] my-[14px]">Выберите предмет</p></div>
            <ul id="subjects"
                class="absolute top-[110%] left-0 flex flex-col bg-white border border-[#CDCDCD] rounded-lg w-full p-[24px] gap-[12px] z-10 hidden">
                {% for key, name, img in form.subjects_info %}
                    <li onclick="selectSubject({{ key }}, '{{ name }}', '{{ img }}')"
                        class="flex flex-row gap-[16px] items-center hover:bg-gray cursor-pointer">
                        <img class="w-[53px] h-[53px] object-cover rounded-[9px]"
                             src="{{ img }}" alt="">
                        <p class="text-[16px] font-semibold">{{ name }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <input id="id_group_template" name="group_template" type="number" hidden>
        <div class="relative px-[16px] py-[25px] border border-[#CDCDCD] rounded-lg flex flex-row"
             onclick="dropDown('group_templates')">
            <img class="inline-block" src="{% static 'core/images/crm2/arrow-down-gray.svg' %}" alt="">
            <div id="selectedGroupTemplate" class="w-full align-middle"><p class="text-[16px]">Выберите шаблон группы</p></div>
            <ul id="group_templates"
                class="absolute top-[110%] left-0 flex flex-col bg-white border border-[#CDCDCD] rounded-lg w-full p-[24px] gap-[12px] z-10 hidden">
                {% for key, name, stus in form.group_templates_info %}
                    <li onclick="selectGroupTemplate('{{ key }}', '{{ name }}', {{ stus }})"
                        class="flex flex-row gap-[16px] items-center hover:bg-gray cursor-pointer">
                        <p class="text-[16px] font-semibold opacity-50">{{ name }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="time_slot" value="{{ time_id }}" id="id_time_slot">
        <button class="block w-fit bg-accent-red text-white rounded-[5px] px-[64px] py-[26px] mt-[28px]" type="submit">Добавить урок</button>
    </form>
    <script>
    </script>
{% endblock %}
