{% extends 'subjects/base.html' %}

{% load static %}
{% load l10n %}

{% block flex-content %}
    {% include "subjects/components/crm2-mentor-sidebar.html" %}
    <main class="main flex-1 pb-[100px] w-3/4 font-[Qanelas]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[50px] ml-[40px] mr-[78px] max-w-[1040px] flex flex-col gap-[20px]">
            <div class="add__user bg-white shadow-[0px_4px_20px_0px_#00000014]  rounded-md p-[32px] pt-[42px]">
                <h3 class=" font-semibold mb-[24px] text-black-main text-[32px] leading-[40px]">
                    Добавить ученика в систему Gasyr
                </h3>
                <div class="relative">
                    <form id="user-search-form" method="post">
                        {% csrf_token %}
                        <input type="text" name="login_code" placeholder="Введите ID или имя ученика"
                               class="w-full pl-[32px] pr-[70px] text-black-main text-[20px] leading-[32px] font-medium border-[#CDCDCD] border-[1px] h-[80px] items-center flex rounded-md focus:outline-none">
                        <button type="submit" class="absolute right-[30px] top-[30px]">
                            <img src="{% static 'assets/searchIconMentor.svg' %}" alt=""
                                 class="max-w-[24px] max-h-[24px]">
                        </button>
                    </form>
                    <div id="search-results"
                         class="hidden mt-4 border-[1px] border-[#CDCDCD] rounded-md pt-[32px] pl-[32px] pr-[37px] pb-[24px]"></div>
                </div>

            </div>
            <div class="h-[280px] pt-[62px] pl-[32px] pb-[32px] rounded-md"
                 style="background-position: center; background-repeat: no-repeat; background-image: url('{% static "core/images/crm2/mainBg1.png" %}');">
                <h1 class="max-w-[350px] text-white text-[32px] leading-[45px] font-semibold">Начнем составлять
                    расписание?</h1>
                <button
                        class="px-[54px] py-[26px] border-[1px] border-white rounded-sm mt-[22px] text-[20px] font-semibold leading-[28px] hover:text-accent-red hover:bg-white text-white"
                        onclick="window.location.href='{% url 'schedule:shifts' %}';">
                    Составить расписание
                </button>
            </div>
            <div class="flex gap-[20px] ">
                <div class="w-[450px] pt-[62px] pl-[32px] pb-[32px]  h-[260px] rounded-md"
                     style="background-image: url('{% static "core/images/crm2/mainBg2.png" %}'); background-position: center;  background-size:coverl; background-repeat:  no-repeat;">
                    <h3 class="text-white max-w-[300px] text-[32px] leading-[45px] font-semibold mb-[16px]">
                        Создать шаблон группы учеников</h3>
                    <button
                            class="px-[61px] py-[26px] border-[1px] border-white rounded-sm text-white text-[20px] leading-[28px] font-semibold hover:text-[#662CE2] hover:bg-white">
                        Создать шаблон
                    </button>
                </div>
                <div class="w-[570px] h-[260px] rounded-md pt-[62px] pl-[32px] pb-[32px]"
                     style="background-repeat: no-repeat; background-position: center; background-image: url('{% static "core/images/crm2/mainBg3.png" %}');">
                    <h3 class="text-white max-w-[270px] text-[32px] leading-[45px] font-semibold mb-[16px]">
                        Появился новый учитель?
                    </h3>
                    <button class="border-[1px] border-white rounded-sm py-[26px] px-[25px] text-[20px] leading-[28px] font-semibold text-white hover:text-[#7A48E4] hover:bg-white">
                        Добавить в систему
                    </button>
                </div>
            </div>
            <!--            <div class="absolute right-0 -bottom-[10px] fillOutYourProfile shadow-[0px_4px_20px_0px_#00000014] w-[450px] bg-white p-[24px] rounded-md">-->
            <!--                <div class="flex items-start justify-between mb-[7px]">-->
            <!--                    <img src="{% static 'assets/pleaseInputYourProfile.png' %}" alt="" class="max-w-[60px] max-h-[62px]">-->
            <!--                    <button class="cursor-pointer"><img src="{% static 'assets/closeModal.svg' %}" alt="" class="max-w-[24px] max-h-[24px]"></button>-->
            <!--                </div>-->
            <!--                <h3 class="font-semibold text-[20px] leading-[28px] text-[#282827]">Пожалуйста, заполните свой профиль</h3>-->
            <!--                <p class="font-regular text-[16px] leading-[22px] text-[#282827]">Нам нужны все ваши данные и аватарка</p>-->
            <!--            </div>-->

        </div>

    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const searchForm = document.getElementById('user-search-form');
            searchForm.addEventListener('submit', function (e) {
                e.preventDefault();
                const formData = new FormData(searchForm);
                fetch("{% url 'users:grant_access' %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Accept': 'application/json'
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        const resultsContainer = document.getElementById('search-results');
                        if (data.status === 'success') {
                            const user = data.user;
                            resultsContainer.innerHTML = `
                    <div class="newUser flex justify-between items-center mb-[20px]">
                        <div class="fullname flex gap-[20px] items-center">
                            <img src="{% static 'assets/newUserIcon.png' %}" alt="" class="max-w-[32px] max-h-[32px] rounded-full">
                            <p class="fullname-text font-semibold text-[20px] leading-[32px] text-black-main">${user.full_name}</p>
                        </div>
                        <p class="newUser-phonenumber text-[20px] font-regular leading-[32px] text-black-main">${user.phone_number}</p>
                        <p class="newUser-city text-[20px] font-regular leading-[32px] text-black-main">${user.user_city}</p>
                        <p class="newUser-id font-semibold text-[20px] leading-[32px] text-black-main">${user.login_code}</p>
                    </div>
                    <button id="accept-access" class="py-[18px] px-[42px] rounded-sm font-semibold text-[16px] leading-[22px] text-white bg-accent-red">Принять</button>
                    <button class="py-[18px] px-[42px] rounded-sm font-semibold text-[16px] leading-[22px] text-accent-red bg-white border-[1px] border-accent-red">Отклонить</button>
                `;
                            resultsContainer.classList.remove('hidden');
                            document.getElementById('accept-access').addEventListener('click', function () {
                                formData.append('grant_access', 'true');
                                fetch("{% url 'users:grant_access' %}", {
                                    method: 'POST',
                                    body: formData,
                                    headers: {
                                        'X-CSRFToken': '{{ csrf_token }}',
                                        'Accept': 'application/json'
                                    },
                                })
                                    .then(response => {
                                        if (response.ok) {
                                            resultsContainer.innerHTML = `
                                <p class="text-green-500 font-semibold text-[20px] leading-[32px]">Ученик добавлен</p>
                                <p class="text-gray-600 text-[16px] leading-[24px]">Вы можете наблюдать за ним, во вкладке “Ученики”</p>
                            `;
                                        }
                                    });
                            });
                        } else {
                            resultsContainer.innerHTML = `<p class="text-red-500">${data.message}</p>`;
                            resultsContainer.classList.remove('hidden');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        document.getElementById('search-results').innerHTML = `<p class="text-red-500">Error processing your request.</p>`;
                        document.getElementById('search-results').classList.remove('hidden');
                    });
            });
        });
    </script>
{% endblock %}