{% extends 'subjects/base.html' %}

{% load static %}
{% load l10n %}
{% load custom_tags %}

{% block flex-content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% include "subjects/components/crm2-student-sidebar.html" %}
    <main class="main flex-1 pb-[100px] w-3/4 font-[Qanelas]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[50px] px-5 md:px-0 md:ml-[40px] md:mr-[78px]">
            {% if tasks %}
                <div class="task__inner flex flex-col md:flex-row gap-[10px] ">
                    <div class="task__list bg-white shadow-[0px_4px_24px_0px_#00000014] md:min-w-[360px] rounded-md pb-[50px]">
                        <h1 class="tasks__list-title py-[32px] pl-[32px] font-semibold text-[20px] leading-[24px] text-black-main overflow-y-auto">
                            Задания
                        </h1>
                        {% for lesson in lessons %}
                            {% for task in tasks %}
                                {% if task.chat_room == lesson.chat_room %}
                                    <div class="task__list-item border-t border-t-[#E5E5E5] bg-[#FAFAFA] flex p-[20px] items-center task-link"
                                         data-task-id="{{ task.id }}" data-task-name="{{ task.name }}"
                                         data-task-deadline="{{ task.deadline }}"
                                         data-task-file-name="{{ task|filename }}"
                                         data-submission-file-name="{{ task|submission_filename:user }}"
                                         data-task-file-url="{% url 'subjects:download_task_file' task.id %}">
                                        <div class="task__author-photo">
                                            {% if lesson.teacher.profile_picture %}
                                                <img src="{{ lesson.teacher.profile_picture.url }}"
                                                     class="w-[56px] h-[56px] object-cover rounded-full"
                                                     alt="Teacher Photo">
                                            {% else %}
                                                <img src="{% static 'core/images/default-user.svg' %}"
                                                     class="w-[56px] h-[56px] object-cover rounded-full"
                                                     alt="Default Teacher Photo">
                                            {% endif %}
                                        </div>
                                        <div class="task__author-content ml-[12px]">
                                            <h1 class="task__teacher-title font-semibold text-[16px] leading-[22px] text-black-main max-w-[200px]">
                                                Учитель {{ lesson.teacher.full_name }}
                                            </h1>
                                            <h3 class="task__teacher-status font-semibold text-[16px] leading-[22px] text-black-main mb-[5px]">
                                                добавил задание
                                            </h3>
                                            <p class="task__course text-[16px] leading-[22px] text-black-main font-regular">
                                                {{ lesson.subject.name }}
                                            </p>
                                        </div>
                                        {% now 'Y-m-d h:i' as today %}
                                        {% if task in student_tasks %}
                                            <img class='ml-auto md:ml-none' src="{% static 'core/images/crm2/done.png' %}" alt="">
                                        {% elif task.deadline|date:'Y-m-d h:i' < today %}
                                            <img class='ml-auto md:ml-none' src="{% static 'core/images/crm2/not-done.png' %}" alt="">
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <!-- Карточка задания, скрыта по умолчанию на мобильных устройствах -->
                    <div class="about__task bg-white shadow-[0px_4px_24px_0px_#00000014] rounded-md w-webkit-fill pb-5 pt-[32px] px-4 md:px-0 md:pl-[42px] md:pr-[42px] hidden md:block">
                        <div id="task-detail" style="display: none">
                            <button type="button" class='back pb-4 w-full'>
                                <svg class='block md:hidden' width="7" height="18" viewBox="0 0 7 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.369141 9.00011L5.11681 0.0322266L6.88441 0.968007L2.63211 9.00011L6.88441 17.0322L5.11681 17.968L0.369141 9.00011Z" fill="#BA2025"/>
                                </svg>
                            </button>    
                                
                            
                                
                            <p class="about__task-time font-regular text-xl md:text-[14px] leading-[20px] text-black-main mb-[6px]"
                               id="task-deadline"></p>
                            <h1 class="about__task-title font-bold text-[24px] leading-[33px] text-black-main max-w-[520px] mb-[20px]"
                                id="task-title"></h1>
                            <div class="download__task mb-[20px]">
                                <h3 class="download__task-title font-bold text-[16px] leading-[22px] text-black-main mb-[6px]">
                                    Задание
                                </h3>
                                <a id="download-task-file"
                                   class="flex py-[19px] px-[17px] gap-[17px] border border-[#E5E5E5] rounded-md"
                                   target="_blank">
                                    <img src="{% static 'core/images/crm2/file-upload-line-accent-red.svg' %}" alt=""/>
                                    <span id="file-name"
                                          class="font-regular text-[14px] text-black-main">Скачать задание</span>
                                </a>
                            </div>
                            <div class="send__task">
                                <h3 class="send__task-title font-bold text-[16px] leading-[22px] text-black-main mb-[12px]">
                                    Моя работа</h3>
                                <form id="upload-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="task_id" id="task-id">

    <label class="flex gap-[14px] items-center cursor-pointer">
        <img src="{% static 'core/icons/upload-red.svg' %}" class="max-w-[20px] max-h-[18px]" alt="">
        <span id="my-work" class="font-medium text-[14px] leading-[16px] text-accent-red">
            {% if student_tasks|get_task_submission:task.id %}
                {{ student_tasks|get_task_submission:task.id.file.name|default:"Загрузить работу" }}
            {% else %}
                Загрузить работу
            {% endif %}
        </span>
        <input onchange="newFile(event)" type="file" name="file" style="display: none;">
    </label>

    <button type="submit" class="done__task mt-[60px] md:mt-[110px] py-[15px] px-[26px] rounded-lg bg-accent-red text-white text-[16px] leading-[22px] font-semibold">
        Сдать мою работу
    </button>
</form>

                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="task__list-item p-[20px] text-center">
                    <img class="inline-block mb-[40px]" src="{% static 'core/images/crm2/cangoroo.png' %}" alt="">
                    <h1 class="task__teacher-title text-accent-red font-bold text-2xl md:text-[40px] leading-[50px] mb-1 md:mb-[12px]">
                        Задании все еще нет
                    </h1>
                    <p class="task__course text-sm md:text-[16px] leading-[22px]">
                        Сдавайте тесты, и может быть тут что-то появится
                    </p>
                </div>
            {% endif %}
        </div>

        <script>
    // Function to handle file selection
    function newFile(event) {
        const input = event.target;
        const fileName = input.files[0].name; // Get the name of the uploaded file
        const myWorkElement = document.getElementById("my-work");

        // Update the span with the file name
        if (fileName) {
            myWorkElement.textContent = fileName;
        } else {
            myWorkElement.textContent = "Загрузить работу"; // Reset if no file selected
        }
    }

    $(document).ready(function () {
        // Обработка клика на элементе задания
        $('.task-link').click(function (e) {
            e.preventDefault();
            var taskId = $(this).data('task-id');
            var taskName = $(this).data('task-name');
            var taskDeadline = $(this).data('task-deadline');
            var taskFileUrl = $(this).data('task-file-url');
            var taskFileName = $(this).data('task-file-name');
            var submissionFileName = $(this).data('submission-file-name');
            let dot_id = taskDeadline.indexOf('.') + 1;

            $('#task-id').val(taskId);
            $('#task-title').text(taskName);
            $('#task-deadline').text('Срок заканчивается ' + taskDeadline.substr(0, dot_id) + ' в ' + taskDeadline.substr(dot_id));
            $('#download-task-file').attr('href', taskFileUrl);
            if (submissionFileName) {
                $('#my-work').text(submissionFileName);
            } else {
                $('#my-work').text("Загрузить работу");
            }
            if (taskFileName) {
                $('#file-name').text(taskFileName);
            } else {
                $('#file-name').text("Скачать задание");
            }
            $('#task-detail').show();

            // Скрыть блок списка заданий и показать блок с карточкой задания на мобильных устройствах
            if ($(window).width() < 768) {
                $('.task__list').addClass('hidden');
                $('.about__task').removeClass('hidden');
            }
        });

        // Обработка клика на кнопке "Назад"
        $('.back').click(function () {
            // Скрыть блок с карточкой задания и показать блок списка заданий на мобильных устройствах
            if ($(window).width() < 768) {
                $('.about__task').addClass('hidden');
                $('.task__list').removeClass('hidden');
            }
        });
    });
</script>
{% include "subjects/components/crm2-mobile-navbar.html" %}

    </main>
{% endblock %}

