{% extends 'subjects/base.html' %}

{% load static %}
{% load l10n %}
{% block title %}Предметы{% endblock %}

{% block flex-content %}
    {% include "subjects/components/crm2-student-sidebar.html" %}
    <main class="main flex-1 pb-[100px] w-3/4 font-[Qanelas]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[40px] px-5 md:px-0 md:ml-[40px] md:mr-[78px]">
            <div class="items-main text-black-main">
                <h1 class="items__title font-semibold text-[42px] leading-[52px] text-black-main mb-[20px]">
                    Предметы
                </h1>
                <div class="items__inner grid grid-cols-2 gap-[20px]">
                    {% for lesson in lessons %}
                        <div class="item bg-white shadow-[0px_4px_24px_0px_#00000014] rounded-lg flex p-[20px] items-center">
                            <div class="item-image mr-[25px]">
                                {% if lesson.subject.image %}
                                    <img src="{{ lesson.subject.image.url }}" alt="{{ lesson.subject.name }}"
                                         class="w-[160px] h-[160px] object-cover rounded-lg">
                                {% endif %}
                            </div>
                            <div class="item-details h-fit">
                                <a href="{% url 'chats:chat_room_detail' room_id=lesson.chat_room.id %}" class="text-[24px] font-semibold">{{ lesson.group_name }}</a>
                                <p class="text-[16px] mb-[28px]">{{ lesson.subject.description }}</p>
                                {% if lesson.teacher %}
                                    <p class="text-[16px] font-semibold">
                                        {% if lesson.teacher.profile_picture %}
                                            <img src="{{ lesson.teacher.profile_picture.url }}"
                                                 alt="{{ lesson.teacher.full_name }}"
                                                 class="w-[32px] h-[32px] object-cover rounded-full inline mr-[12px]">
                                        {% else %}
                                            <img src="{% static 'core/images/default-user.svg' %}"
                                                 alt="Default Profile Picture"
                                                 class="w-[32px] h-[32px] object-cover rounded-full inline mr-[12px]">
                                        {% endif %}
                                        {{ lesson.teacher.full_name }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center">No lessons scheduled.</p>
                    {% endfor %}
                </div>
            </div>
                                            {% include "subjects/components/crm2-mobile-navbar.html" %}

        </div>
    </main>
{% endblock %}