{% extends "subjects/base.html" %}
{% load custom_tags %}
{% load static %}

{% block flex-content %}
    {% include "subjects/components/crm2-teacher-sidebar.html" %}
    <main class="main flex-1 pb-[100px]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[50px] ml-[40px] mr-[78px] max-w-[1040px] gap-[20px] grid relative">
            <div class="bg-white shadow-[0px_4px_20px_0px_#00000014] rounded-md pt-[48px] px-[14px] pb-[20px]">
                <h3 class="font-semibold text-[32px] leading-[45px] text-black-main mb-[12px] pl-[30px]">
                    Сданные работы для задания: {{ task.name }}
                </h3>
                {% if student_submissions %}
                    <ul class="bg-[#FAFAFA] p-[30px] pr-[34px] h-[430px] overflow-auto space-y-[16px]">
                        {% for entry in student_submissions %}
                            <li class="flex justify-between items-center">
                                <div class="flex gap-[16px] items-center max-w-[220px] w-full">
                                    {% if entry.student.profile_picture %}
                                        <img src="{{ entry.student.profile_picture.url }}" class="max-w-[32px] max-h-[32px] object-cover rounded-full" alt="Profile Picture">
                                    {% else %}
                                        <img src="{% static 'core/images/default-user.svg' %}" class="max-w-[32px] max-h-[32px] object-cover rounded-full" alt="Default Profile Picture">
                                    {% endif %}
                                    <p class="font-semibold text-[16px] leading-[20px] text-black-main">
                                        {{ entry.student.full_name }}
                                    </p>
                                </div>
                                <div class="flex items-center gap-[24px] max-w-[200px] w-full">
                                    <img src="{% static 'core/icons/phone-fill-accent-red.svg' %}" alt="Phone Icon" class="max-w-[16px] max-h-[16px]">
                                    <p class="font-semibold text-[16px] leading-[22px] text-black-main">
                                        {{ entry.student.phone_number }}
                                    </p>
                                </div>
                                <div class="flex items-center gap-[8px] max-w-[140px] w-full">
                                    <img src="{% static 'core/icons/city-fill-accent-red.svg' %}" alt="City Icon" class="max-w-[16px] max-h-[16px]">
                                    <p class="font-semibold text-[16px] leading-[22px] text-black-main">
                                        {{ entry.student.user_city }}
                                    </p>
                                </div>
                                <div class="flex justify-end gap-[12px] max-w-[150px] w-full items-center">
                                    {% if entry.submission %}
                                        <img src="{% static 'core/icons/download-accent-red.svg' %}" alt="Download Icon" class="w-[16px] h-[16px]">
                                        <a href="{{ entry.submission.file.url }}" class="text-black-main font-semibold text-[16px] leading-[22px] underline hover:no-underline">
                                            {{ entry.submission|filename }}
                                        </a>
                                    {% else %}
                                        <img src="{% static 'core/icons/close-fill-accent-red.svg' %}" alt="Download Icon" class="w-[16px] h-[16px]">
                                        <p class="text-accent-red font-semibold text-[16px] leading-[22px]">Не сдано</p>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-[16px] text-[#959595]">Нет сданных работ.</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
