{% extends 'subjects/base.html' %}
{% load custom_tags %}

{% load static %}
{% load l10n %}

{% block flex-content %}
    {% if request.user.role == "Teacher" %}
        {% include "subjects/components/crm2-teacher-sidebar.html" %}
    {% else %}
        {% include "subjects/components/crm2-student-sidebar.html" %}
    {% endif %}
    <main class="main flex-1 pb-[100px] w-3/4 font-[Qanelas]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[50px] ml-[40px] mr-[78px]">
            <div class="flex items-center justify-between mb-[24px]">
                <h1 class="font-bold text-black-main text-[42px]">
                    Расписание уроков
                </h1>
                <div class="switch__date p-4 flex gap-5 h-15 items-center bg-white shadow-[0px_4px_20px_0px_#0000000A] rounded-md">
                    <button class="previous__date">
                        <img src="{% static 'core/images/crm2/prev-accent-red.png' %}" alt=""/>
                    </button>
                    <div class="switch__date-text">10-17 марта</div>
                    <button class="previous__date">
                        <img src="{% static 'core/images/crm2/next-accent-red.png' %}" alt=""/>
                    </button>
                </div>
            </div>
            <div>
                {% for day, lessons in weekly_lessons.items %}
                    <div class="lessons__today mt-[20px] bg-white shadow-[0px_4px_20px_0px_#0000000A] rounded-md p-[32px]">
                        <div class="lessons__texts flex justify-between mb-[18px] items-center">
                            <h1 class="lessons__title font-bold text-black-main text-[24px] leading-[30px]">{{ day }}</h1>
                            <h1 class="ml-auto text-[#9D9E9E]"><img src="{% static 'core/icons/calendar-line-gray.svg' %}" class="inline-block mr-[8px] align-middle" alt="">{{ week_dates|key:day|date:"d E" }}</h1>
                        </div>
                        {% if lessons %}
                            <ul class="lessons__items bg-[#FAFAFA] py-[10px] px-[24px]">
                                {% for lesson in lessons %}
                                    <li class="lessons__item flex items-center h-[60px] justify-between border-b-[#CDCDCD] border-b-[1px]">
                                        <p class="lesson__name w-[220px] text-accent-red font-bold text-[16px] leading-[20px]">
                                            {{ lesson.subject.name }}
                                        </p>
                                        <p class="lesson__date font-medium text-[16px] leading-[20px] text-black-main">
                                            {{ lesson.time_slot.start_time|time:"H:i" }} - {{ lesson.time_slot.end_time|time:"H:i" }}
                                        </p>
                                        <div class="flex gap-[8px] items-center">
                                            {% if lesson.teacher.profile_picture %}
                                                <img src="{{ lesson.teacher.profile_picture.url }}" alt="" class="w-[32px] h-[32px] object-cover rounded-full">
                                            {% else %}
                                                <img src="{% static 'core/images/default-user.svg' %}" alt="" class="w-[32px] h-[32px] object-cover rounded-full">
                                            {% endif %}
                                            <span class="font-semibold text-[16px] leading-[20px]">{{ lesson.teacher.full_name }}</span>
                                        </div>
                                        <a href="{% url 'chats:chat_room_detail' room_id=lesson.chat_room.id %}"
                                           class="lesson__link w-[220px] text-blue-ielts text-right underline font-medium text-[16px] leading-[20px]">
                                            Присоединиться к уроку
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% if forloop.last %}
                                <div class="lessons__items bg-[#FAFAFA] py-[24px] px-[24px] flex items-center justify-center gap-[48px]">
                                    <img src="{% static 'core/images/cats/sunday.png' %}" alt=""
                                         class="max-w-[215px] max-h-[215px]">
                                    <p class="empty-text max-w-[310px] text-black-main">
                                        <span class="font-bold text-[24px] leading-[36px]">Выходной!</span><br>
                                        Набирайтесь сил до следующих уроков
                                    </p>
                                </div>
                            {% else %}
                                <div class="lessons__items bg-[#FAFAFA] py-[24px] px-[24px] flex items-center justify-center gap-[48px]">
                                    <img src="{% static 'core/images/cats/papers.png' %}" alt=""
                                         class="max-w-[215px] max-h-[215px]">
                                    <p class="empty-text max-w-[310px] font-bold text-[24px] leading-[36px] text-black-main">
                                        Расписание на этот
                                        день еще не назначено.<br/>Скоро все будет :)
                                    </p>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}