<!-- courses/_search_results_partial.html -->
{% load static %}
{% for student in students %}
    <div class="w-full p-2.5 pr-6 border border-gray rounded-lg flex flex-row items-center text-xl">
        <img class="w-[60px] h-[60px] object-cover rounded-full mr-6" src="{% if student.profile_picture %}{{ student.profile_picture.url }}{% else %}{% static 'core/images/anonymous-user-image.png' %}{% endif %}">
        <p class="w-[30%]">{{ student.full_name }}</p>
        <p class="w-[20%]">{{ student.phone_number }}</p>
        <p class="w-[15%]">12.12.2024</p>
        <p class="w-[12%]">{{ student.login_code }}</p>
        <!-- Button to enroll student -->
        <button onclick="enrollStudent({{ student.id }}, {{ course.id }});" class="text-blue-ielts underline">Подтвердить</button>
    </div>
{% empty %}
    <div class="bg-white p-[50px] rounded-lg text-center">
        <img class="mx-auto mb-6" src="{% static 'core/images/cats/student.png' %}">
        <p class="text-2xl font-bold ">No students found.</p>
    </div>


{% endfor %}
