{% extends 'core/base.html' %}
{% load static %}
{% load course_tags %}

{% block title %}{{ course.course_name }}{% endblock %}
{% block body-classes %}bg-whiteless{% endblock %}
{% block content %}
    {% include "core/components/navbar-main-without-links.html" %}
    <div class="container content bg-no-repeat bg-top mx-auto font-[Qanelas] text-black-main pt-14">
        <h1 class="text-[42px] font-bold mb-3">Редактирование курса</h1>
        <div class="bg-white p-14 rounded-lg mb-5">
            <h2 class="text-[32px] font-semibold pb-[13px]">Добавить ученика по ID</h2>
            <label class="relative">
                <input class="w-full py-6 px-8 border border-gray placeholder-black-main rounded-lg" type="text"
                       placeholder="Введите ID ученика">
                <img class="absolute inset-y-0 right-6" src="{% static 'core/icons/search-accent-red.svg' %}" alt="">
            </label>
        </div>
        <div class="bg-no-repeat bg-cover bg-center py-[60px] rounded-xl flex flex-col items-center mb-5"
             style="background-image: url('{% static "core/images/gasyr-accent-red-background.png" %}')">
            <h2 class="text-white text-2xl font-bold mb-[30px] uppercase tracking-widest">Предпросмотр карточки</h2>
            <div class="max-w-[650px] mb-[51px]">
                {% include "core/components/course-card-start.html" with course=course %}
            </div>
            <div class="grid grid-cols-2 gap-3 text-accent-red text-center text-xl font-semibold *:w-[391px] *:bg-white *:py-[26px] *:rounded-lg">
                <a href="{% url 'courses:course_detail_edit_about' pk=course.id %}">Изменить информацию о курсе</a>
                <a href="#">Редактировать финальный тест</a>
                <a href="#">Редактировать модули</a>
                <a href="#">Поменять видео-поздравление</a>
            </div>
        </div>
        <div class="bg-white p-14 rounded-lg mb-36">
            <h2 class="text-[32px] font-semibold pb-[13px]">Ученики</h2>
            <label class="relative">
                <input class="w-full py-6 px-8 border border-gray text-xl placeholder-black-main rounded-lg mb-3" type="text"
                       placeholder="Введите ID ученика">
                <img class="absolute inset-y-0 right-6" src="{% static 'core/icons/search-accent-red.svg' %}" alt="">
            </label>
            <div class="flex flex-col gap-3">
                {% for student in students %}
                    <div class="w-full p-2.5 pr-6 border border-gray rounded-lg flex flex-row items-center text-xl">
                        <img class="w-[60px] h-[60px] object-cover rounded-full mr-6" src="{% if student.profile_picture %}/{{ student.profile_picture }}{% else %}{% static "core/images/anonymous-user-image.png" %}{% endif %}">
                        <p class="w-[30%]">{{ student.full_name }}</p>
                        <p class="w-[20%]">{{ student.phone_number|format_phone_number }}</p>
                        <p class="w-[15%]">12.12.2024</p>
                        <p class="w-[12%]">{{ student.login_code }}</p>
                        <a href="#" class="text-blue-ielts underline">Результаты</a>
                    </div>
                {% empty %}
                    <div class="bg-white p-[50px] rounded-lg text-center">
                        <img class="mx-auto mb-6" src="{% static "core/images/cats/student.png" %}">
                        <p class="text-2xl font-bold ">Тут пока никого нет :(</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
