{% extends 'core/base.html' %}
{% load static %}
{% load course_tags %}

{% block title %}{{ course.course_name }}{% endblock %}
{% block body-classes %}bg-whiteless{% endblock %}
{% block content %}
    {% include "core/components/navbar-main-without-links.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="container content bg-no-repeat bg-top mx-auto font-[Qanelas] text-black-main pt-14">
        <h1 class="text-[42px] font-bold mb-3">Редактирование курса</h1>
        <div class="white-block p-14 mb-5">
            <h2 class="text-[32px] font-semibold">Добавить ученика по ID</h2>
            <form id="searchForm" method="get" action="{% url 'courses:search_students' %}">
                <div class="relative mb-3">
                    <input type="text" name="login_code" id="id_login_code"
                           class="peer w-full placeholder-black-main py-6 px-8 border border-gray rounded-lg"
                           placeholder="Добавить ученика по ID" required>
                    <img class="absolute inset-y-1/2 -translate-y-1/2 right-6 peer-focus-hidden border-transparent focus:border-transparent focus:ring-0"
                         src="{% static 'core/icons/search-accent-red.svg' %}" alt="">
                    <button class="absolute inset-y-2 right-2 text-center
                    rounded-lg bg-accent-red text-white text-lg font-semibold
                    hidden w-[189px] h-full-4 peer-focus-inline-block peer-valid-inline-block z-10" type="submit">Поиск
                    </button>
                </div>
            </form>
            <div id="searchResults" class="flex flex-col gap-3">

            </div>

        </div>
        <div class="bg-no-repeat bg-cover bg-center py-[60px] rounded-xl flex flex-col items-center mb-5"
             style="background-image: url('{% static "core/images/gasyr-accent-red-background.png" %}')">
            <h2 class="text-white text-2xl font-bold mb-[30px] uppercase tracking-widest">Предпросмотр карточки</h2>
            <div class="max-w-[650px] mb-[51px]">
                {% include "core/components/course-card-start.html" with course=course %}
            </div>
            <div class="grid grid-cols-2 gap-3 text-accent-red text-center text-xl font-semibold *:w-[391px] *:bg-white *:py-[26px] *:rounded-lg">
                <a href="{% url 'courses:course_detail_edit_about' pk=course.id %}">Изменить информацию о курсе</a>
                <a href="{% url 'courses:final_test_creation' pk=course.id %}">Редактировать финальный тест</a>
                {% if course.modules.count > 0 %}
                    <a href="{% url 'courses:module_detail' pk=course.modules.all.0.id %}">Редактировать модули</a>
                {% else %}
                    <a href="{% url 'courses:module_create' course_id=course.id %}">Добавить модули</a>
                {% endif %}
                <a href="{% url 'courses:success_video_edit' pk=course.id %}">Поменять видео-поздравление</a>
            </div>
            <a class="text-accent-red text-center text-xl font-semibold w-[391px] bg-white py-[26px] rounded-lg mt-[52px]"
               href="{% url 'courses:course_publish' pk=course.id %}">{% if course.published %}Убрать в черновики{% else %}Опубликовать курс{% endif %}</a>
        </div>
        <div class="bg-white p-14 rounded-lg mb-36">
            <h2 class="text-[32px] font-semibold pb-[13px]">Ученики</h2>
<div class="flex flex-col gap-3">
    {% for student in students %}
        <div class="w-full p-2.5 pr-6 border border-gray rounded-lg flex flex-row items-center text-xl">
            <img class="w-[60px] h-[60px] object-cover rounded-full mr-6"
                 src="{% if student.profile_picture %}
                    /{{ student.profile_picture.url }}
                    {% else %}
                    {% static "core/images/anonymous-user-image.png" %}
                    {% endif %}">
            <p class="w-[30%]">{{ student.full_name }}</p>
            <p class="w-[20%]">{{ student.phone_number|format_phone_number }}</p>
            <!-- Change Date to Данные -->
            <p class="w-[15%]">
                <p class="w-[15%]">
    <a href="{% url 'users:student_check_profile' student_id=student.id %}" class="text-blue-ielts underline">
        Данные
    </a>
</p>

            </p>
            <p class="w-[12%]">{{ student.login_code }}</p>
            <a href="{% url 'courses:student_results' course_id=course.id student_login_code=student.login_code %}" class="text-blue-ielts underline">Результаты</a>
        </div>
    {% empty %}
        <div class="bg-white p-[50px] rounded-lg text-center">
            <img class="mx-auto mb-6" src="{% static "core/images/cats/student.png" %}">
            <p class="text-2xl font-bold ">Тут пока никого нет :(</p>
        </div>
    {% endfor %}
</div>        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#searchForm').submit(function (event) {
                event.preventDefault(); // Prevent the form from submitting through the browser.
                var formData = $(this).serialize(); // Serialize the form data.

                $.ajax({
                    url: "{% url 'courses:search_students' %}",
                    type: 'get',
                    data: formData,
                    success: function (data) {
                        // Update the search results div with new HTML from the server
                        $('#searchResults').html(data);
                    },
                    error: function () {
                        alert('Error loading search results.');
                    }
                });
            });
        });
    </script>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function enrollStudent(studentId) {
            console.log("Student ID:", studentId, "Course ID:", {{ course.id }});  // This will show the values in the browser console

            const csrftoken = getCookie('csrftoken');  // Get the CSRF token from the cookie

            fetch(`/courses/{{ course.id }}/add-student/${studentId}/`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken  // Include CSRF token in the request header
                }
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('message-cat').src = "{% static 'core/images/cats/student-sit.png' %}"
                    document.getElementById('message-title').innerText = "Ученик добавлен"
                    document.getElementById('message-text').innerText = "Вы можете наблюдать за ним, во вкладке “Ученики”"
                    document.getElementById('accessMessage').classList.remove("hidden");
                })
                .catch(error => {
                    console.error('Error adding student:', error);
                    document.getElementById('message-cat').src = "{% static 'core/images/cats/student-sit.png' %}"
                    document.getElementById('message-title').innerText = "Ошибка добавления студента"
                    document.getElementById('message-text').innerText = "Убедитесь что это студент (учителей добавлять нельзя)"
                    document.getElementById('accessMessage').classList.remove("hidden");
                });
        }

    </script>
{% endblock %}
