{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ course.course_name }}{% endblock %}
{% block body-classes %}bg-whiteless{% endblock %}
{% block content %}
    {% include "core/components/navbar-main-without-links.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="container content bg-no-repeat bg-top mx-auto font-[Qanelas] text-black-main pt-14">

        <div class="white-block mb-[50px] {% if create %}h-side{% else %}h-block{% endif %} overflow-y-auto">
            <div class="px-[230px] pt-[76px] text-center">
                <img class="inline-block mb-[53px]" src="{% static 'core/images/cats/box.png' %}" alt="">
                <h2 class="text-[32px] font-bold mb-[30px]">Теперь, мы вас поздравляем!</h2>
                <p class="text-lg mb-[70px]">
                    Курс уже загружен и ждет учеников
                </p>
                <a class="w-[390px] text-center py-[26px] border border-accent-red text-accent-red text-xl font-semibold rounded-lg mx-auto block"
                   href="{% url 'courses:course_detail_edit' pk=course.id %}">Вернуться на главную
                </a>
            </div>
        </div>
    </div>
{% endblock %}
