{% extends "core/base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
  </head>
  <body>
    {% comment %} {% include 'core/components/navbar-light-transparent.html' %}
    {% endcomment %} {% block title %}Gasyr - foundation school{% endblock %} 
    {%load static %} {% block content %}
    <div class="bg-[#BA2025] font-[Qanelas]">
      {% include 'core/components/navbar-light-transparent.html' %}
      <div
        class="w-full flex flex-row gap-10 h-screen mx-auto items-start justify-center bg-[#BA2025]"
      >
        <div class="flex flex-row items-center">
          <img
            src="{% static 'core/images/cats/404cat.png' %}"
            alt="error cat"
          />

          <div class="flex flex-col items-center">
            <p
              class="flex items-center relative leading-[138px] justify-center text-[156px] text-[#BA2025] font-bold bg-white px-16 rounded-[20px]"
            >
              404
            </p>
            <p class="pt-5 pb-10 text-white text-xl font-semibold">
              страница не найдена
            </p>
            <a
              href="{% url 'home' %}"
              class="py-7 px-16 border border-white rounded-[5px] text-white font-semibold"
              >Перейти на главную</a
            >
          </div>
        </div>
      </div>
      {% include 'core/components/footer.html' %}
    </div>
    {% endblock %}
  </body>
</html>
