{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "core/css/output.css" %}" rel="stylesheet">
    <style>
        @media screen and (min-width: 1120px) {
            body {
                zoom: 80%;
            }
        }
    </style>
</head>
<body class="{% block body-classes %}{% endblock %}">
    {% comment %}  {% endcomment %}
{% block content %}
    {% csrf_token %}
{% endblock %}
{% include "core/components/cookies.html" %}
{% include "core/components/message.html" %}
<script>
    window.onload = () => {
        cookiesOnLoad()
        {% if messages %}
        messagesOnLoad()
        {% endif %}
        {% block onload_script %}

        {% endblock %}
    }
</script>
</body>
</html>
