{% extends "core/base.html" %}
{% load static %}
{% block title %}Пройденные курсы{% endblock %}
{% block body-classes %}bg-whiteless{% endblock %}
{% block content %}
    {% include 'core/components/navbar-main.html' %}
    <div class="container px-5 content bg-no-repeat bg-top mx-auto font-[Qanelas] pt-[32px] md:pt-14 text-black-main">
        <h1 class="text-[24px] md:text-[42px] font-bold mb-3">Пройденные курсы</h1>
        {% if completed_courses %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-10">
                {% for course in completed_courses %}
                {% include 'core/components/course-card-completed.html' with course=course %}
                {% endfor %}
            </div>
        {% else %}
            <div class="w-full text-center bg-white pb-32 pt-6">
                <img class="p-10 md:p-0 h-max-[302px] w-max-[296px] md:h-max-none md:w-max-none mx-auto mb-6" src="{% static "core/images/cats/no-completed-courses.png" %}" alt="">
                <h4 class="text-2xl font-semibold">Пройденных курсов, все еще нет :(</h4>
            </div>
        {% endif %}
    </div>
    {% csrf_token %}
    {% comment %}
<h2>Welcome to the Home Page</h2>
<p>This is your home page. Navigate through the site from here.</p>

{% if request.user.role == "Teacher" or request.user.is_superuser %}
HI TEQACHER/ADMIN
    <a href="{% url 'users:grant_access' %}">Give Access</a>

{% endif %}
{% endcomment %}

{% endblock %}