{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ course.course_name }}{% endblock %}
{% block body-classes %}bg-whiteless{% endblock %}
{% block content %}
    {% include 'core/components/navbar-main-without-links.html' %}
    <div class="flex flex-col md:flex-row">
        {% include 'core/components/course-sidebar.html' %}
        <div class="course px-5 md:px-[40px] pt-[40px] w-full">
            <div class="course__container bg-white shadow-[0px_4px_20px_0px_#00000014] px-4 md:px-9 pt-9 pb-[46px] rounded-[10px]">
                <div class="course__subtitle font-bold text-black-main text-4 leading-5 uppercase">
                    Урок {{ lesson_position }} - Модуль: {{ module.module_name }}
                </div>
                <div class="course__title md:leading-[52px] text-[#BA2025] text-2xl md:text-[42px] font-bold mb-3.5">
                    Литература
                </div>

                <div class="literature-list mt-5">
                    {% if literatures.count > 0 %}
                        <ul class="space-y-4">
                            {% for literature in literatures %}
                                <li class="flex flex-col gap-2 items-center justify-between">
                                    {% comment %} <span class="text-lg font-medium">{{ literature.literature_name }}</span> {% endcomment %}
                                    {% if literature.file %}

                                    <a href="{{ literature.file.url }}" download class="flex flex-row gap-3 md:gap-6 items-center w-full px-3 md:px-6 py-4 border border-[#D8D8D8]  text-[#4F4F4F] rounded-lg font-semibold">
                                        {% comment %} TODO: тут нужно получить тип файла и в зависимости от нее отображать нужные иконки
                                        все иконки тут - core/static/core/icons/typeOfLitterature/...
                                        {% endcomment %}
                                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13 0L18 5V19.0082C18 19.556 17.5551 20 17.0066 20H0.9934C0.44476 20 0 19.5447 0 19.0082V0.9918C0 0.44405 0.44495 0 0.9934 0H13ZM8 10.05C7.8384 10.0172 7.6712 10 7.5 10C6.11929 10 5 11.1193 5 12.5C5 13.8807 6.11929 15 7.5 15C8.8807 15 10 13.8807 10 12.5V8H13V6H8V10.05Z" fill="#BA2025"/>
                                        </svg>
                                        <span class="underline">{{ literature.literature_name }}</span>
                                    </a>
                                    
                                    {% else %}
                                        <span class="text-gray-500">Файл отсутствует</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-gray-500 text-lg">Материалы пока не добавлены.</p>
                    {% endif %}
                </div>
                <div class='flex flex-row justify-center mt-11 md:mt-14' style="margin-top: 44px;">
                    {% comment %} TODO: Тут нужна ссылка на следующий этап {% endcomment %}
                    <a href='' class='text-[#BA2025] text-xl font-semibold w-full md:w-fit py-4 px-5 text-center md:px-16 border border-[#BA2025] rounded-[5px]' >Следующий этап</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
