
{% extends "core/base.html" %}
{% load static %}

{% block body-classes %}bg-accent-red{% endblock %}
{% block content %}
    {% include "core/components/navbar-light-transparent.html" %}
    <div class="absolute top-0 bottom-0 left-0 right-0 -z-10 bg-no-repeat bg-cover bg-center"
         style="background-image: url('{% static "core/images/background-light.png" %}')"></div>
    <div class="container content mx-auto relative font-[Qanelas] text-center text-white">
        <h2 class="text-[42px] md:text-[93px] leading-[46.2px] md:leading-[102.3px] font-bold mb-6">
            Регистрация<br/> прошла успешно!
        </h2>
        <p class=" text-[18px] md:text-2xl font-light mb-8">Сообщите этот код своему ментору или менеджеру</p>
        <div class="flex flex-col md:flex-row text-accent-red font-bold text-[103px] md:text-[123px] justify-center gap-[8px] mb-14">
            <div class="flex flex-row items-center justify-center">
                <div class="border-2 border-white rounded-lg p-1 md:p-1.5">
                    <div class="bg-white border-[#EC565B] py-[30px] w-24 md:w-36 rounded-lg">{{ login_code.0 }}</div>
                </div>
                <div class="border-2 border-white rounded-lg p-1 md:p-1.5">
                    <div class="bg-white border-[#EC565B] py-[30px] w-24 md:w-36 rounded-lg">{{ login_code.1 }}</div>
                </div>
                <div class="border-2 border-white rounded-lg p-1 md:p-1.5">
                    <div class="bg-white border-[#EC565B] py-[30px] w-24 md:w-36 rounded-lg">{{ login_code.2 }}</div>
                </div>
            </div>
            <div class="text-white opacity-50 my-[-20px] md:my-[30px]">{{ login_code.3 }}</div>
            <div class="flex flex-row items-center justify-center">
                <div class="border-2 border-white rounded-lg p-1 md:p-1.5">
                    <div class="bg-white border-[#EC565B] py-[30px] w-24 md:w-36 rounded-lg">{{ login_code.4 }}</div>
                </div>
                <div class="border-2 border-white rounded-lg p-1 md:p-1.5">
                    <div class="bg-white border-[#EC565B] py-[30px] w-24 md:w-36 rounded-lg">{{ login_code.5 }}</div>
                </div>
                <div class="border-2 border-white rounded-lg p-1 md:p-1.5">
                    <div class="bg-white border-[#EC565B] py-[30px] w-24 md:w-36 rounded-lg">{{ login_code.6 }}</div>
                </div>
            </div>
        </div>
        <button id="checkAccessBtn" class="inline-block border border-white text-white text-xl mb-5 px-11 py-7 rounded-lg">
            Мой аккаунт подтвердили
        </button>
    </div>
    {% include "core/components/footer.html" %}

    <script>

        document.getElementById('checkAccessBtn').addEventListener('click', function () {
            fetch("{% url 'users:check-access' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.has_access) {
                        window.location.href = data.url;
                    } else {
                        document.getElementById('message-cat').src = "{% static 'core/images/cats/wait.png' %}"
                        document.getElementById('message-title').innerText = "Ваш аккаунт еще не подтвердили"
                        document.getElementById('message-text').innerText = "Ожидайте ответ менеджера или ментора"
                        document.getElementById('accessMessage').classList.remove("hidden");
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}