@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Qanelas';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('/static/core/fonts/QanelasLight.otf') format('woff2');
    }
    @font-face {
        font-family: 'Qanelas';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/static/core/fonts/QanelasRegular.otf') format('woff2');
    }
    @font-face {
        font-family: 'Qanelas';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/static/core/fonts/QanelasMedium.otf') format('woff2');
    }
    @font-face {
        font-family: 'Qanelas';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/static/core/fonts/QanelasSemibold.otf') format('woff2');
    }
    @font-face {
        font-family: 'Qanelas';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/static/core/fonts/QanelasBold.otf') format('woff2');
    }
}

@layer components {
    .white-block {
        @apply bg-white rounded-lg shadow-lg
    }

    .content {
        min-height: calc(100vh - 203px)
    }

    .active-link {
        position: relative;
        color: theme(colors.accent-red);
    }

    .link-block {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 5px;
        border-radius: 5px 5px 0 0;
        background-color: theme(colors.accent-red);
    }

    .accordion-red {
        @apply peer-checked:hidden
    }

    .accordion-gray {
        @apply peer-checked:block
    }

    .peer-active-max-h-full {
        @apply peer-checked:max-h-full
    }

    .h-full-4 {
        height: calc(100% - 1rem);
    }

    .h-side-create {
        height: calc(100vh - 450px);
    }

    .h-side {
        height: calc(100vh - 390px);
    }

    .h-block {
        height: calc(100vh - 300px);
    }

    .peer-focus-hidden {
        @apply peer-focus:hidden
    }

    .peer-focus-inline-block {
        @apply peer-focus:inline-block
    }

    .peer-valid-inline-block {
        @apply peer-valid:inline-block
    }

    .my-container .container__items {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 0 20px;

        width: 100%;
        height: 100%;
    }

    .my-container .container__items input {
        display: none;
    }

    .my-container .container__items label {
        width: 20%;
        aspect-ratio: 1;
        cursor: pointer;
    }

    .my-container .container__items label .star-stroke {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        background: #CDCDCD;
        clip-path: circle(50% at 50% 50%);
    }

    .my-container .container__items label .star-stroke .star-fill {
        width: 80%;
        aspect-ratio: 1;
        background: white;
        clip-path: circle(50% at 50% 50%);
    }

    .my-container .container__items input:hover ~ label .star-stroke, .container .container__items input:checked ~ label .star-stroke {
        background: theme(colors.accent-red);
    }

    .my-container .container__items input:checked ~ label .star-stroke .star-fill {
        background: theme(colors.accent-red);
    }
}