<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create/Edit Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    <label for="title">Test Title:</label>
    <input type="text" id="title" name="title" required value="{% if test_exists %}{{ test.title }}{% else %}{% endif %}"><br><br>
    <div id="questionsContainer">
        {% if test_exists %}
            {% for question in test.questions.all %}
                <div class="question">
                    <label>Question:</label>
                    <input type="text" name="questions[{{ forloop.counter0 }}][text]" required value="{{ question.text }}">
                    <label>Question Type:</label>
                    <select name="questions[{{ forloop.counter0 }}][type]">
                        <option value="SC" {% if question.question_type == 'SC' %}selected{% endif %}>Single Choice</option>
                        <option value="MC" {% if question.question_type == 'MC' %}selected{% endif %}>Multiple Choice</option>
                    </select>
                    <div class="answers">
                        {% for answer in question.answers.all %}
                            <div class="answer">
                                <label>Answer:</label>
                                <input type="text" name="questions[{{ forloop.parentloop.counter0 }}][answers][{{ forloop.counter0 }}][text]" required value="{{ answer.text }}">
                                <label>Correct:</label>
                                <input type="checkbox" name="questions[{{ forloop.parentloop.counter0 }}][answers][{{ forloop.counter0 }}][is_correct]" {% if answer.is_correct %}checked{% endif %}>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <button type="button" id="addQuestion">Add Question</button>
    {% if test_exists %}
        <input type="hidden" name="question_count" id="questionCount" value="{{ test.questions.count }}">
    {% else %}
<input type="hidden" name="questions[{{ forloop.counter0 }}][id]" value="{{ question.id }}">
    {% endif %}
    <br><br>
    {% if test_exists %}
        <input type="submit" value="Edit Test">
    {% else %}
        <input type="submit" value="Create Test">
    {% endif %}
</form>

<script>
$(document).ready(function() {
    let questionCount = {{ test.questions.count|default_if_none:"0" }};

    $('#addQuestion').click(function(e) {
        e.preventDefault();
        let questionHTML = `
    <div class="question" data-index="${questionCount}">
        <label>Question:</label>
        <input type="text" name="questions[${questionCount}][text]" required>
        <label>Question Type:</label>
        <select name="questions[${questionCount}][type]">
            <option value="SC">Single Choice</option>
            <option value="MC">Multiple Choice</option>
        </select>
        <div class="answers">` +
    Array.from({ length: 4 }, (_, i) => `
        <div class="answer" data-index="${i}">
            <label>Answer ${i + 1}:</label>
            <input type="text" name="questions[${questionCount}][answers][${i}][text]" required>
            <label>Correct:</label>
            <input type="checkbox" name="questions[${questionCount}][answers][${i}][is_correct]">
        </div>
    `).join('') + `
        </div>
    </div>`;

        $('#questionsContainer').append(questionHTML);
        $('html, body').animate({ scrollTop: $(`div[data-index="${questionCount}"]`).offset().top }, 'slow');
        questionCount++;
        $('#questionCount').val(questionCount);
    });
});
</script>
</body>
</html>
