{% load static %}
<div id="consent-popup" class="fixed bottom-10 opacity-0 w-full px-5 md:px-0 ease-linear transition-opacity z-50">
    <div class="
        relative container p-4 md:p-2.5 mx-auto flex flex-col md:flex-row items-center
        bg-gradient-to-r from-[#DA9A39] to-[#E2A344]
        text-white rounded-lg font-semibold
    ">
        <img class="hidden md:block md:absolute md:left-3 md:bottom-0" src="{% static 'core/images/cats/cookie.png' %}" alt="">
        <div class="md:ml-[214px] text-base md:text-2xl mr-auto text-center md:text-start h-full">Мы используем cookies для вашего удобного пользования</div>
        <a class="flex flex-row items-center mt-5 md:mt-0 justify-center gap-5 py-1 md:py-[26px] px-16 w-full md:w-fit border border-white rounded-lg text-xl" id="accept" href="#">
            <img class="w-16 h-16 block md:hidden" src="{% static 'core/images/cats/cookie.png' %}" alt="">
            Окей
        </a>
    </div>
</div>
<script>
    const cookieStorage = {
        getItem: (item) => {
            const cookies = document.cookie
                .split(';')
                .map(cookie => cookie.split('='))
                .reduce((acc, [key, value]) => ({...acc, [key.trim()]: value}), {});
            return cookies[item];
        },
        setItem: (item, value) => {
            document.cookie = `${item}=${value};max-age=${31556926};path=/`
        }
    }

    const storageType = cookieStorage;
    const consentPropertyName = 'gasyr_consent';
    const shouldShowPopup = () => !storageType.getItem(consentPropertyName);
    const saveToStorage = () => storageType.setItem(consentPropertyName, true);

    const cookiesOnLoad = () => {
        const acceptFn = event => {
            saveToStorage(storageType);
            consentPopup.classList.add("opacity-0");
            consentPopup.classList.remove('opacity-100');
            setTimeout(() => {
                consentPopup.classList.add('hidden');
            }, 500)
        }
        const consentPopup = document.getElementById('consent-popup');
        const acceptBtn = document.getElementById('accept');
        acceptBtn.addEventListener('click', acceptFn);

        if (shouldShowPopup(storageType)) {
            setTimeout(() => {
                consentPopup.classList.remove("opacity-0");
                consentPopup.classList.add('opacity-100');
            }, 2000);
        } else {
            consentPopup.classList.add('hidden');
        }
    };
</script>