{% load static %}
<div class="{% if create %}h-side-create{% else %}h-side{% endif %} w-[25%] flex flex-col pt-[60px] p-5 bg-white overflow-y-auto">
    <div class="mb-auto" id="sidebar_modules"></div>
    <button onclick="new_module()" type="button"
       class="text-center border border-accent-red rounded-lg font-semibold text-accent-red py-5">
        <img class="inline-block pr-[23px]" src="{% static 'core/icons/add-circle-accent-red.svg' %}" alt="">Добавить
        модуль
    </button>
    <div id="new-module-form" style="display:none;" class="p-4 border-t border-gray-300">
        <input type="text" id="module-name" class="border py-2 px-4 border-gray-300 rounded-lg w-full"
               placeholder="Название модуля">
        <button onclick="createModule()" class="mt-3 w-full bg-accent-red text-white py-2 rounded-lg">Создать</button>
    </div>
</div>