{% load static %}
<div class="white-block flex flex-row overflow-hidden mb-[50px]">
    <script>
        var csrfToken = '{{ csrf_token }}'; // Store CSRF token in a global variable for later use
    </script>
    {% include "core/components/course-sidebar-edit.html" with course=course create=create %}
    <div id="modules"
         class="w-[75%] p-10 overflow-y-auto {% if create %} {% else %}h-side{% endif %} bg-whiteless">
        <div id="cat"
             class="w-[75%] p-10 overflow-y-auto {% if create %}h-side-create{% else %}h-side{% endif %} bg-whiteless text-center">
            <img class="mx-auto mb-10" src="{% static 'core/images/cats/teacher.png' %}" alt="">
            <p class="text-lg">Тут вы можете управлять всеми модулями, и уроками. Для начала<br/>создайте первый модуль
                и перейдите в него для создания первого урока</p>
        </div>
    </div>
    <div id="lesson-form-template" style="display:none;">
        <div class="border border-[#CDCDCD] rounded-lg p-6 mb-5">
            <h2 class="text-xl font-semibold text-accent-red">Урок</h2>
            <div class="w-full mb-6">
                <label>
                    <span class="float-left mb-2 font-semibold">Введите название урока</span>
                    <small class="float-right opacity-50">Макс: 24 симв</small>
                    <input class="border py-[25px] px-4 border-gray w-full rounded-lg" type="text"
                           name="lesson_name[]" placeholder="Пример: Основы математики">
                </label>
            </div>
            <div class="w-full mb-6">
                <label>
                    <span class="float-left mb-2 font-semibold">Ссылка на урок Vimeo</span>
                    <input class="border py-[25px] px-4 border-gray w-full rounded-lg" type="text"
                           name="video_link[]" placeholder="Ссылка на видео">
                </label>
            </div>
        </div>
    </div>
</div>
<script>
    var course_id = {{ course.id }}; // Define this globally
let data, current_module = 0, modules_count = 0;

async function send_data() {
    await fetch("{% url 'courses:course-modules' course_id=course.id %}", {
        method: 'PUT',
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
        .then(response => response.json())
        .then(res_data => {
            console.log(res_data)
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Failed to add module');
        });
}

function edit_input(event, module, module_id, lesson_id = null) {
    let value = event.target.value;
    if (module) {
        data.modules[module_id - 1].module_name = value;
    } else {
        if (event.target.name === "lesson_name") {
            data.modules[module_id - 1].lessons[lesson_id - 1].lesson_name = value;
        } else {
            data.modules[module_id - 1].lessons[lesson_id - 1].video_link = value;
        }
    }
}

async function new_module() {
    await send_data();
    console.log(data.modules, modules_count);
    await fetch("{% url 'courses:module_create' course_id=course.id %}", {
        method: 'POST',
        body: JSON.stringify({"module_name": `Модуль ${modules_count + 1}`}),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
        .then(response => response.json())
        .then(res_data => {
            if (res_data.error) {
                alert("Error: " + JSON.stringify(res_data.error));
            } else {
                res_data["lessons"] = [];
                delete res_data["course"];
                data.modules.push(res_data);
                modules_count = data.modules.length;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Failed to add module');
        });

    let module = document.createElement("div");
    module.id = `module-${modules_count}`;
    module.classList = "module";
    module.classList.add("hidden");

    module.innerHTML = module_div({
        id: modules_count,
        module_id: data.modules[modules_count - 1].id,
        module_name: data.modules[modules_count - 1].module_name
    });
    document.getElementById("modules").appendChild(module);

    let sidebar_module = document.createElement("div");
    sidebar_module.classList = "relative overflow-hidden mb-4";
    sidebar_module.innerHTML = sidebar_modules_div({
        id: modules_count,
        active: false,
    });
    document.getElementById("sidebar_modules").appendChild(sidebar_module);
}

async function new_lesson(id, module_id) {
    await send_data();
    let lesson_count = data.modules[id - 1].lessons.length;

    await fetch(`/courses/${module_id}/lesson/create/`, {
        method: 'POST',
        body: JSON.stringify({
            "lesson_name": `Урок ${lesson_count + 1}`,
            "video_link": `https://player.vimeo.com/video/823111497?h=9a60ec7769&badge=0&autopause=0&player_id=0&app_id=58479`,
        }),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
    })
        .then(response => response.json())
        .then(res_data => {
            if (res_data.error) {
                alert("Error: " + JSON.stringify(res_data.error));
            } else {
                res_data["literatures"] = [];
                res_data["homeworks"] = [];  // Add homeworks
                delete res_data["module"];
                data.modules[id - 1].lessons.push(res_data);
                lesson_count = data.modules[id - 1].lessons.length;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Failed to add lesson');
        });

    let lesson = document.createElement("div");
    lesson.id = `module-${id}-lesson-${lesson_count}`;
    lesson.classList = "border border-[#CDCDCD] rounded-lg p-6 mb-5";
    lesson.innerHTML = lesson_div({
        id: lesson_count,
        module_id: id,
        lesson_name: data.modules[id - 1].lessons[lesson_count - 1].lesson_name,
        video_link: data.modules[id - 1].lessons[lesson_count - 1].video_link,
        lesson_id: data.modules[id - 1].lessons[lesson_count - 1].id,
    });
    document.getElementById(`lesson-container-${id}`).appendChild(lesson);
}

async function new_literature(event, id, lid, lesson_id) {
    let file = event.target.files[0];
    if (!file) {
        alert('Please select a file to upload.');
        return;
    }

    const formData = new FormData();
    formData.append('file', file);
    formData.append('literature_type', 'Generic');  // Use a default type
    formData.append('literature_name', file.name.slice(0, 20));  // Ensure a valid literature name

    try {
        const response = await fetch(`/courses/literature/create/${lesson_id}/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken, // Ensure CSRF token is included
            },
        });

        if (!response.ok) {
            throw new Error('Failed to upload literature.');
        }

        const res_data = await response.json();

        if (res_data.error) {
            alert("Error: " + JSON.stringify(res_data.error));
        } else {
            data.modules[id - 1].lessons[lid - 1].literatures.push(res_data);
            let literature_count = data.modules[id - 1].lessons[lid - 1].literatures.length;
            let literature = document.createElement("div");
            literature.id = `module-${id}-lesson-${lid}-literature-${literature_count}`;
            literature.classList = "border border-gray flex flex-row p-4 rounded-lg mb-1";
            literature.innerHTML = literature_div({
                id: literature_count,
                lesson_id: lid,
                module_id: id,
                literature_id: res_data.id,
                literature_type: res_data.literature_type,
                literature_name: res_data.literature_name,
            });
            document.getElementById(`literature-container-${id}-${lid}`).appendChild(literature);
        }
    } catch (error) {
        console.error('Error:', error);
        alert('Failed to add literature');
    }
}

async function new_homework(event, id, lid, lesson_id) {
    let file = event.target.files[0];
    const formData = new FormData();

    if (file) {
        formData.append('file', file);
        formData.append('homework_name', file.name.slice(0, 100));
    }

    await send_data();
    let homework_count = data.modules[id - 1].lessons[lid - 1].homeworks.length;

    await fetch(`/courses/${lesson_id}/homework/create/`, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => response.json())
    .then(res_data => {
        if (res_data.error) {
            alert("Error: " + JSON.stringify(res_data.error));
        } else {
            data.modules[id - 1].lessons[lid - 1].homeworks.push(res_data);
            homework_count = data.modules[id - 1].lessons[lid - 1].homeworks.length;
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Failed to add homework');
    });

    let homework = document.createElement("div");
    homework.id = `module-${id}-lesson-${lid}-homework-${homework_count}`;
    homework.classList = "border border-gray flex flex-row p-4 rounded-lg mb-1";
    homework.innerHTML = homework_div({
        id: homework_count,
        lesson_id: lid,
        module_id: id,
        homework_id: data.modules[id - 1].lessons[lid - 1].homeworks[homework_count - 1].id,
        homework_name: data.modules[id - 1].lessons[lid - 1].homeworks[homework_count - 1].homework_name,
    });
    document.getElementById(`homework-container-${id}-${lid}`).appendChild(homework);
}

async function remove_literature(module_i, lesson_i, literature_i, literature_id) {
    await send_data();
    await fetch(`/courses/literature/delete/${literature_id}/`, {
        method: 'DELETE',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => response.json())
    .then(res_data => {
        if (res_data.error) {
            alert("Error: " + JSON.stringify(res_data.error));
        } else {
            data.modules[module_i - 1].lessons[lesson_i - 1].literatures.splice(literature_i - 1, 1);
            document.getElementById(`module-${module_i}-lesson-${lesson_i}-literature-${literature_i}`).remove();
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Failed to remove literature');
    });
}

async function remove_homework(module_i, lesson_i, homework_i, homework_id) {
    await send_data();
    await fetch(`/courses/homework/${homework_id}/delete/`, {
        method: 'DELETE',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => response.json())
    .then(res_data => {
        if (res_data.error) {
            alert("Error: " + JSON.stringify(res_data.error));
        } else {
            // Remove homework from the data and the DOM
            data.modules[module_i - 1].lessons[lesson_i - 1].homeworks.splice(homework_i - 1, 1);
            document.getElementById(`module-${module_i}-lesson-${lesson_i}-homework-${homework_i}`).remove();
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Failed to remove homework');
    });
}

function openModule(module_id) {
    let side_module_text, side_module_folder, side_module_arrow, module_div;
    if (!document.getElementById("cat").classList.contains("hidden"))
        document.getElementById("cat").classList.add("hidden");
    for (let i = 0; i < data.modules.length; i++) {
        side_module_arrow = document.getElementById(`side_module_arrow_${i + 1}`);
        side_module_text = document.getElementById(`side_module_text_${i + 1}`);
        side_module_folder = document.getElementById(`side_module_folder_${i + 1}`);
        module_div = document.getElementById(`module-${i + 1}`);

        side_module_folder.src = "{% static 'core/icons/folder-fill-black-main.svg' %}";
        side_module_arrow.src = "{% static 'core/icons/arrow-down-button-gray.svg' %}";
        if (!side_module_arrow.classList.contains("-rotate-90")) side_module_arrow.classList.add("-rotate-90");
        if (side_module_text.classList.contains("text-accent-red")) side_module_text.classList.remove("text-accent-red");
        if (!module_div.classList.contains("hidden")) module_div.classList.add("hidden");
    }
    side_module_arrow = document.getElementById(`side_module_arrow_${module_id}`);
    side_module_text = document.getElementById(`side_module_text_${module_id}`);
    side_module_folder = document.getElementById(`side_module_folder_${module_id}`);
    module_div = document.getElementById(`module-${module_id}`);

    side_module_folder.src = "{% static 'core/icons/folder-fill-accent-red.svg' %}";
    side_module_arrow.src = "{% static 'core/icons/arrow-right-button-accent-red.svg' %}";
    side_module_arrow.classList.remove("-rotate-90");
    side_module_text.classList.add("text-accent-red");
    module_div.classList.remove("hidden");
    current_module = module_id;
}

function sidebar_modules_div(vars) {
    let folder, arrow;
    if (vars.active) {
        folder = "{% static 'core/icons/folder-fill-accent-red.svg' %}";
        arrow = "{% static 'core/icons/arrow-right-button-accent-red.svg' %}";
    } else {
        folder = "{% static 'core/icons/folder-fill-black-main.svg' %}";
        arrow = "{% static 'core/icons/arrow-down-button-gray.svg' %}";
    }
    return `
    <button onclick="openModule(${vars.id})" type="button">
        <div class="bg-white rounded-lg text-start font-bold px-6">
            <img class="inline-block mr-3" id="side_module_folder_${vars.id}"
                 src="${folder}" alt="">
            <p id="side_module_text_${vars.id}" class="inline-block mr-auto ${vars.active ? "text-accent-red" : ""}">Модуль ${vars.id}</p>
        </div>
        <img id="side_module_arrow_${vars.id}" class="absolute right-6 top-0 block h-[24px] ${vars.active ? "" : "-rotate-90"}"
             src="${arrow}" alt="">
    </button>
    `;
}

function module_div(vars) {
    return `<h2 class="text-[32px] font-semibold text-accent-red">Модуль ${vars.id}</h2>
        <div class="w-full mb-6">
            <label>
                <span class="float-left mb-2 font-semibold">Введите название модуля</span>
                <small class="float-right opacity-50">Макс: 50 симв</small>
                <input onchange="edit_input(event, true, ${vars.id})" class="border py-[25px] px-4 border-gray w-full rounded-lg" type="text"
                       name="module_name" placeholder="Пример: Основы математики"
                       value="${vars.module_name}">
            </label>
        </div>
        <div id="lesson-container-${vars.id}">
            <!-- Dynamic lesson forms will be appended here -->
        </div>

        <button onclick="new_lesson(${vars.id}, ${vars.module_id})" type="button"
           class="block w-full text-center bg-accent-red rounded-lg font-semibold text-white py-5 mb-9">
            <img class="inline-block pr-[23px]" src="{% static 'core/icons/add-circle-white.svg' %}" alt="">Добавить
            урок
        </button>

        <a href="/courses/module/${vars.module_id}/test/" target="_blank"
           class="block w-full text-center border border-accent-red rounded-lg font-semibold text-accent-red py-5 mb-9">
            <img class="inline-block pr-[23px]" src="{% static 'core/icons/pencil-fill-accent-red.svg' %}" alt="">Добавить
            тестирование по модулю
        </a>`;
}

function lesson_div(vars) {
    return `<h2 class="text-xl font-semibold text-accent-red">Урок ${vars.id}</h2>
    <div class="w-full mb-6">
        <label class="">
            <span class="float-left mb-2 font-semibold">Введите название урока</span>
            <small class="float-right opacity-50">Макс: 24 симв</small>
            <input onchange="edit_input(event, false, ${vars.module_id}, ${vars.id})"
                   class="border py-[25px] px-4 border-gray w-full rounded-lg" type="text"
                   name="lesson_name" placeholder="Пример: Основы математики"
                   value="${vars.lesson_name}">
        </label>
    </div>
    <div class="w-full mb-6">
        <label class="">
            <span class="float-left mb-2 font-semibold">Ссылка на урок Vimeo</span>
            <input onchange="edit_input(event, false, ${vars.module_id}, ${vars.id})"
                   class="border py-[25px] px-4 border-gray w-full rounded-lg" type="text"
                   name="video_link" placeholder="Пример: Основы математики"
                   value="${vars.video_link}">
        </label>
    </div>
    <div class="w-full mb-6">
        <div class="w-full mb-2 font-semibold">Тестирование</div>
        <a class="block w-full border border-[#8D8D8D] text-center p-[18px] rounded-lg"
           href="/courses/lesson/${vars.lesson_id}/test/" target="_blank">
            <img class="inline-block mr-[23px]"
                 src="{% static 'core/icons/table-view.svg' %}" alt="">
            Добавить тест после урока
        </a>
    </div>
    <div class="w-full mb-6">
        <div class="w-full mb-2 font-semibold">Литература</div>
        <div id="literature-container-${vars.module_id}-${vars.id}" class="mb-2 font-semibold"></div>
        <label class="">
<input id="module-${vars.module_id}-lesson-${vars.id}" class="hidden" type="file"
       name="file" onchange="new_literature(event, ${vars.module_id}, ${vars.id}, ${vars.lesson_id}, {{ course.id }})">


            <div class="block w-full border border-[#8D8D8D] text-center p-[18px] rounded-lg">
                <img class="inline-block align-middle mr-[23px]"
                     src="{% static 'core/icons/upload-ielts.svg' %}"
                     alt="">
                <span id="input-file-text" type="text"
                      class="text-[#5E8BFF] underline font-semibold">
                        Загрузить файлы
                    </span>
            </div>
        </label>
    </div>
    <div class="w-full mb-6">
        <div class="w-full mb-2 font-semibold">Домашнее задание</div>
        <div id="homework-container-${vars.module_id}-${vars.id}" class="mb-2 font-semibold"></div>
        <label class="">
            <input id="module-${vars.module_id}-lesson-${vars.id}-homework" class="hidden" type="file"
                   name="file" onchange="new_homework(event, ${vars.module_id}, ${vars.id}, ${vars.lesson_id})">
            <div class="block w-full border border-[#8D8D8D] text-center p-[18px] rounded-lg">
                <img class="inline-block align-middle mr-[23px]"
                     src="{% static 'core/icons/upload-ielts.svg' %}"
                     alt="">
                <span id="input-file-text" type="text"
                      class="text-[#5E8BFF] underline font-semibold">
                        Загрузить домашнее задание
                    </span>
            </div>
        </label>
    </div>
    `;
}

function literature_div(vars) {
    let image;
    switch (vars.literature_type) {
        case "Video":
            image = `<img class="inline-block mr-[21px]" src="{% static 'core/icons/file-accent-red-fill-Video.svg' %}" alt="">`;
            break;
        case "Audio":
            image = `<img class="inline-block mr-[21px]" src="{% static 'core/icons/file-accent-red-fill-Audio.svg' %}" alt="">`;
            break;
        case "Book":
            image = `<img class="inline-block mr-[21px]" src="{% static 'core/icons/file-accent-red-fill-Book.svg' %}" alt="">`;
            break;
        case "Text":
            image = `<img class="inline-block mr-[21px]" src="{% static 'core/icons/file-accent-red-fill-Text.svg' %}" alt="">`;
            break;
    }
    return `
        ${image}
        <p class="underline mr-auto">${vars.literature_name}</p>
        <img onclick="remove_literature(${vars.module_id}, ${vars.lesson_id}, ${vars.id}, ${vars.literature_id})" class="cursor-pointer"
             src="{% static 'core/icons/close-fill-black-main.svg' %}" alt="">
    `;
}

function homework_div(vars) {
    return `
        <p class="underline mr-auto">${vars.homework_name}</p>
        <img onclick="remove_homework(${vars.module_id}, ${vars.lesson_id}, ${vars.id}, ${vars.homework_id})" class="cursor-pointer"
             src="{% static 'core/icons/close-fill-black-main.svg' %}" alt="">
    `;
}

function placeData(data) {
    let literature, homework, lesson, module, sidebar_module, active = true;
    if (data.modules.length !== 0) {
        document.getElementById("cat").classList.add('hidden');
        for (let i = 0; i < data.modules.length; i++) {
            module = document.createElement("div");
            module.id = `module-${i + 1}`;
            module.classList = "module";
            sidebar_module = document.createElement("div");
            sidebar_module.classList = "relative overflow-hidden mb-4";
            if (i !== 0) {
                module.classList.add("hidden");
                active = false;
            }
            module.innerHTML = module_div({
                id: i + 1,
                module_id: data.modules[i].id,
                module_name: data.modules[i].module_name
            });
            document.getElementById("modules").appendChild(module);
            sidebar_module.innerHTML = sidebar_modules_div({
                id: i + 1,
                active: active,
            });
            document.getElementById("sidebar_modules").appendChild(sidebar_module);
            for (let j = 0; j < data.modules[i].lessons.length; j++) {
                lesson = document.createElement("div");
                lesson.id = `module-${i + 1}-lesson-${j + 1}`;
                lesson.classList = "border border-[#CDCDCD] rounded-lg p-6 mb-5";
                lesson.innerHTML = lesson_div({
                    id: j + 1,
                    module_id: i + 1,
                    lesson_name: data.modules[i].lessons[j].lesson_name,
                    video_link: data.modules[i].lessons[j].video_link,
                    lesson_id: data.modules[i].lessons[j].id,
                });
                document.getElementById(`lesson-container-${i + 1}`).appendChild(lesson);
                for (let k = 0; k < data.modules[i].lessons[j].literatures.length; k++) {
                    literature = document.createElement("div");
                    literature.id = `module-${i + 1}-lesson-${j + 1}-literature-${k + 1}`;
                    literature.classList = "border border-gray flex flex-row p-4 rounded-lg mb-1";
                    literature.innerHTML = literature_div({
                        id: k + 1,
                        lesson_id: j + 1,
                        module_id: i + 1,
                        literature_id: data.modules[i].lessons[j].literatures[k].id,
                        literature_type: data.modules[i].lessons[j].literatures[k].literature_type,
                        literature_name: data.modules[i].lessons[j].literatures[k].literature_name,
                    });
                    document.getElementById(`literature-container-${i + 1}-${j + 1}`).appendChild(literature);
                }
                for (let l = 0; l < data.modules[i].lessons[j].homeworks.length; l++) {
                    homework = document.createElement("div");
                    homework.id = `module-${i + 1}-lesson-${j + 1}-homework-${l + 1}`;
                    homework.classList = "border border-gray flex flex-row p-4 rounded-lg mb-1";
                    homework.innerHTML = homework_div({
                        id: l + 1,
                        lesson_id: j + 1,
                        module_id: i + 1,
                        homework_id: data.modules[i].lessons[j].homeworks[l].id,
                        homework_name: data.modules[i].lessons[j].homeworks[l].homework_name,
                    });
                    document.getElementById(`homework-container-${i + 1}-${j + 1}`).appendChild(homework);
                }
            }
        }
    }
}

function getAllModules() {
    var courseId = {{ course.id }}; // Set the course ID you want to retrieve data for
    fetch(`/courses/${courseId}/modules/api/`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(res_data => {
            data = res_data;
            modules_count = data.modules.length;
            placeData(data);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}

</script>


