{% load static %}

<div class="block bg-white rounded-lg md:p-8 text-start">
    <div id="course_img" class="block bg-cover bg-center h-36 w-full p-3 mb-6 rounded-lg"
         style="background-image: url('{% if course.course_picture %}/media/{{ course.course_picture }}{% else %}{% static "core/images/course-default-bg.png" %}{% endif %}')">
        <div class="float-left bg-cover bg-center w-8 h-8 rounded-full border-2 border-white"
             style="background-image:{% if course %}
                 url({% if course.created_by.profile_picture %}
                     '/media/{{ course.created_by.profile_picture }}'
                 {% else %}
                     '{% static "core/images/anonymous-user-image.png" %}'
                 {% endif %});
             {% else %}
                 url('/{{ user.profile_picture }}');
             {% endif %}"></div>
    </div>
    <div class="flex flex-row">
        <p class="text-gray font-semibold text-sm">Онлайн-курс</p>
        <img class="mx-1.5" src="{% static "core/icons/gray-point.svg" %}" alt="">
        <p class="text-gray font-semibold text-sm">{% if course %}
            {{ course.created_by.full_name }}
        {% else %}
            {{ user.full_name }}
        {% endif %} </p>
    </div>
    <div>
        <h2 class="text-2xl font-semibold mb-3" id="course_name">
            {% if course %}
                {{ course.course_name }}
            {% else %}
                Course name
            {% endif %}
        </h2>
        <p class="font-light text-sm mb-7 text-wrap" id="course_description">
            {% if course %}
                {{ course.big_description }}
            {% else %}
                Some description
            {% endif %}
        </p>
        <a class="w-full md:w-fit inline-block min-w-[268px] text-center py-5 border-2 border-accent-red rounded-lg text-accent-red font-semibold"
           href="{% if course %}{% url 'courses:course_detail' pk=course.id %}{% else %}#{% endif %}">
            Начать прохождения курса
        </a>
    </div>
</div>