<div class="white-block py-5 px-2.5 pt-[23px] flex flex-row mb-5">
    <div class="w-1/5 text-center px-2.5">
        <p class="{% if step >= 1 %}font-bold{% else %}font-light{% endif %} text-sm">Карточка курса</p>
        <div class="w-full h-3 border border-[#CDCDCD] rounded-full {% if step >= 1 %}bg-accent-red{% endif %}"></div>
    </div>
    <div class="w-1/5 text-center px-2.5">
        <p class="{% if step >= 2 %}font-bold{% else %}font-light{% endif %} text-sm">О курсе</p>
        <div class="w-full h-3 border border-[#CDCDCD] rounded-full {% if step >= 2 %}bg-accent-red{% endif %}"></div>
    </div>
    <div class="w-1/5 text-center px-2.5">
        <p class="{% if step >= 3 %}font-bold{% else %}font-light{% endif %} text-sm">Модули и уроки</p>
        <div class="w-full h-3 border border-[#CDCDCD] rounded-full {% if step >= 3 %}bg-accent-red{% endif %}"></div>
    </div>
    <div class="w-1/5 text-center px-2.5">
        <p class="{% if step >= 4 %}font-bold{% else %}font-light{% endif %} text-sm">Финальное тестирование</p>
        <div class="w-full h-3 border border-[#CDCDCD] rounded-full {% if step >= 4 %}bg-accent-red{% endif %}"></div>
    </div>
    <div class="w-1/5 text-center px-2.5">
        <p class="{% if step >= 5 %}font-bold{% else %}font-light{% endif %} text-sm">Поздравление</p>
        <div class="w-full h-3 border border-[#CDCDCD] rounded-full {% if step >= 5 %}bg-accent-red{% endif %}"></div>
    </div>
</div>