{% load static %}
<div class="border border-[#CDCDCD] rounded-lg p-6 mb-5">
    <h2 class="text-xl font-semibold text-accent-red">Урок <span class="lesson_counter"></span></h2>
    <form method="post">
        {% csrf_token %}
        <div class="w-full mb-6">
            <label class="">
                <span class="float-left mb-2 font-semibold">Введите название урока</span>
                <small class="float-right opacity-50">Макс: 24 симв</small>
                <input class="border py-[25px] px-4 border-gray w-full rounded-lg" type="text"
                       name="lesson_name" placeholder="Пример: Основы математики"
                       value="{{ lesson.lesson_name }}">
            </label>
        </div>
        <div class="w-full mb-6">
            <label class="">
                <span class="float-left mb-2 font-semibold">Ссылка на урок Vimeo</span>
                <input class="border py-[25px] px-4 border-gray w-full rounded-lg" type="text"
                       name="video_link" placeholder="Пример: Основы математики"
                       value="{{ lesson.video_link }}">
            </label>
        </div>
        <div class="w-full mb-6">
            <div class="w-full mb-2 font-semibold">Тестирование</div>
            <a class="block w-full border border-[#8D8D8D] text-center p-[18px] rounded-lg" target="_blank"
               href="{% url 'courses:create_edit_test' parent_type='lesson' parent_id=lesson.id %}">
                <img class="inline-block mr-[23px]"
                     src="{% static 'core/icons/table-view.svg' %}" alt="">
                Добавить тест после урока
            </a>
        </div>
    </form>
    <div class="w-full mb-6">
        <div class="w-full mb-2 font-semibold">Литература</div>
        <div class="mb-2 font-semibold">
            {% for literature in lesson.literatures.all %}
                <div id="literature-{{ literature.id }}"
                     class="border border-gray flex flex-row p-4 rounded-lg mb-1">
                    {% if literature.literature_type == "Video" %}
                        <img class="inline-block mr-[21px]"
                             src="{% static 'core/icons/file-accent-red-fill-Video.svg' %}"
                             alt="">
                    {% elif literature.literature_type == "Audio" %}
                        <img class="inline-block mr-[21px]"
                             src="{% static 'core/icons/file-accent-red-fill-Audio.svg' %}"
                             alt="">
                    {% elif literature.literature_type == "Book" %}
                        <img class="inline-block mr-[21px]"
                             src="{% static 'core/icons/file-accent-red-fill-Book.svg' %}"
                             alt="">
                    {% elif literature.literature_type == "Text" %}
                        <img class="inline-block mr-[21px]"
                             src="{% static 'core/icons/file-accent-red-fill-Text.svg' %}"
                             alt="">
                    {% endif %}
                    <p class="underline mr-auto">{{ literature.literature_name }}</p>
                    <img onclick="removeLiterature({{ literature.id }})" class="cursor-pointer"
                         src="{% static 'core/icons/close-fill-black-main.svg' %}" alt="">
                </div>
            {% endfor %}
        </div>
        <label class="">
            <input id="input-file" class="hidden" type="file"
                   name="{{ form.course_picture.name }}"
                   value="/media/{{ course.course_picture }}">
            <div class="block w-full border border-[#8D8D8D] text-center p-[18px] rounded-lg">
                <img class="inline-block align-middle mr-[23px]"
                     src="{% static 'core/icons/upload-ielts.svg' %}"
                     alt="">
                <span id="input-file-text" type="text"
                      class="text-[#5E8BFF] underline font-semibold">
                        Загрузить файлы
                    </span>
            </div>
        </label>
    </div>
</div>

<script>
    function removeLiterature(id) {
        $.ajax({
            url: '{% url 'courses:literature_delete' %}', // URL to your server-side delete script
            type: 'DELETE',
            data: JSON.stringify({id: id}),
            success: function (result) {
                // Handle success
                alert('Literature deleted successfully!');
            },
            error: function (xhr, status, error) {
                // Handle error
                alert('Error deleting literature: ' + xhr.responseText);
            }
        });
    }
</script>
