{% load static %}
<div class="fixed w-full bg-white shadow-lg z-50">
    <div class="border-b-2 border-gray">
        <nav class="container py-2 items-center mx-auto flex font-[Qanelas]" style="height: 90px;">
            <div class="py-[19px] pr-10 border-r-2 border-gray">
                <a href="{% url "home" %}"><img class="h-[53px]" src="{% static 'core/images/logo.svg' %}" alt=""></a>
            </div>
            <div class="mr-auto pl-11">
                {% if request.path == "/home/" or request.path == "/my-courses/" or request.path == "/completed-courses/" %}
                    <h2 class="text-xl text-black-main font-semibold">Привет, {{ user.full_name }}!</h2>
                    <h2 class="text-black-main">Это место для вашего саморазвития и роста личности</h2>
                {% endif %}
            </div>
            <div class="border-l-2 border-gray py-4 pl-5 flex flex-row items-center">
                <img class="w-[60px] h-[60px] object-cover rounded-full" src="{% if user.profile_picture %}
                                /{{ user.profile_picture }}
                                {% else %}
                                {% static "core/images/default-user.svg" %}
                            {% endif %}" alt="">
                <div class="ml-3.5 mr-8 h-fit">
                    <h2 class="text-xl text-black-main font-bold">{{ user.full_name }}</h2>
                    <p class="m-0">{{ user.role }}</p>
                </div>
                <div class="relative ease-in" x-data="{ open: false }">
                    <img class="cursor-pointer" onclick="toggleDropdown(event)" id="dropdownButton"
                         src="{% static "core/icons/user-arrow.svg" %}">
                    <div id="dropdownMenu"
                         class="absolute top-11 -right-2 mt-2 py-2 w-72 bg-white rounded hidden border-2 border-gray">
                        <a href="{% url 'users:profile' %}" class="text-blue-ielts font-bold block px-4 py-2">
                            <img class="inline mr-3" src="{% static "core/icons/edit-fill-blue-ielts.svg" %}" alt="">
                            Редактировать профиль
                        </a>
                        <a href="{% url 'users:logout' %}" class="text-accent-red font-bold block px-4 py-2">
                            <img class="inline mr-3" src="{% static "core/icons/close-fill-accent-red.svg" %}" alt="">
                            Выйти из аккаунта
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div style="height: 90px;"></div>


<script>
    function toggleDropdown(event) {
        event.stopPropagation();
        var dropdownMenu = document.getElementById("dropdownMenu");
        var dropdownButton = document.getElementById("dropdownButton");
        if (dropdownMenu.classList.contains("hidden")) {
            dropdownMenu.classList.remove("hidden");
            dropdownButton.classList.add("-rotate-90");
        } else {
            dropdownMenu.classList.add("hidden");
            dropdownButton.classList.remove("-rotate-90");
        }
    }

    // Close the dropdown if the click is outside of it
    window.onclick = function (event) {
        var dropdownMenu = document.getElementById("dropdownMenu");
        var dropdownButton = document.getElementById("dropdownButton");
        if (!dropdownMenu.contains(event.target) && event.target.id !== "dropdownButton") {
            dropdownMenu.classList.add("hidden");
            dropdownButton.classList.remove("-rotate-90");
        }
    }
</script>