
{% load static %}
<div class=" z-50 w-full">
    <nav class="container items-center justify-between mx-auto flex font-[Qanelas] px-5 md:bg-none ">
        <a class="mt-4" href="{% url "welcome" %}"><img src="{% static 'core/images/logo-white.svg' %}" alt=""></a>
        <ul class="flex flex-row items-center text-xl">
            <li class="text-white tracking-widest hover:underline rounded-xl px-3">
                <a href="tel:8 777 123 12 12" class='flex items-center gap-2'>
                    <img class="inline h-full max-h-3.5 align-middle " src="{% static "core/icons/phone-fill-white.svg" %}" alt="">
                    8 777 123 12 12
                </a>
            </li>
            <li class="ml-10 max-h-7 hidden md:block">
                <a href="#">
                    <img class="inline h-full" src="{% static "core/icons/instagram-white.svg" %}" alt="">
                </a>
            </li>
            <li class="ml-1 max-h-7 hidden md:block">
                <a href="#">
                    <img class="inline h-full" src="{% static "core/icons/telegram-white.svg" %}" alt="">
                </a>
            </li>
            <li class="ml-1 max-h-7 hidden md:block">
                <a href="#">
                    <img class="inline h-full" src="{% static "core/icons/whatsapp-white.svg" %}" alt="">
                </a>
            </li>
        </ul>
    </nav>
</div>
<div style="height: 75px;"></div>