{% for shift, times in shifts.items %}
    <div class="item min-w-full">
        <p class="text-black-main font-semibold text-[20px] leading-[24px] mb-[8px]">{{ shift.name }}</p>
        <div class="rounded-lg border-[1px] border-[#CACACA] overflow-x-auto">
            {% for time in times %}
                <div class="item p-[16px] flex item-start min-w-max flex-grow {% if not forloop.last %}border-b border-[#CACACA]{% endif %}">
                    <p class="font-semibold text-[16px] leading-[20px] text-accent-red mr-[24px] w-[100px]">{{ time.start_time|time:"H:i" }} - {{ time.end_time|time:"H:i" }}</p>
                    <div class="flex items-center gap-[17px]">
                        {% for lesson in time.lessons.all %}
                            <div class="border-t-[10px] border-t-[{{ lesson.subject.color_code }}] min-w-[245px] grid gap-[12px] rounded-lg p-[14px] bg-[#FAFAFA]">
                                <div class="flex items-center gap-[8px]">
                                    <p class="font-semibold text-[16px] leading-20px text-black-main">{{ lesson.teacher.full_name }}</p>
                                </div>
                                <h3 class="font-semibold text-[20px] leading-[24px] text-black-main">{{ lesson.subject.name }}</h3>
                                <h5 class="font-regular text-[14px] leading-[16px] text-black-main">{{ lesson.group_template.name }}</h5>
                            </div>
                        {% empty %}
                            <p>No lessons scheduled for this time.</p>
                        {% endfor %}
                        <button class="add-lesson-btn w-[53px] h-[53px] rounded-full border-[1px] border-accent-red text-[34px] text-accent-red" data-time-id="{{ time.id }}">
                            +
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% empty %}
    <p>No shifts available.</p>
{% endfor %}
