{% extends 'subjects/base.html' %}
{% load static %}
{% load l10n %}

{% block flex-content %}
    {% include "subjects/components/crm2-mentor-sidebar.html" %}
    <main class="main flex-1 pb-[100px] w-3/4 font-[Qanelas]">
        {% include "subjects/components/crm2-header.html" %}
        <div class="pt-[50px] ml-[40px] mr-[78px] max-w-[1040px] grid ">
            <div class="flex items-center justify-between mb-[24px]">
                <h1 class="font-bold text-black-main text-[42px]">
                    Расписание уроков
                </h1>
                <div class="switch__date p-4 flex gap-5 h-15 items-center bg-white shadow-[0px_4px_20px_0px_#0000000A] rounded-md">
                    <button class="previous__date">
                        <img src="{% static 'core/images/crm2/prev-accent-red.png' %}" alt=""
                             class="max-w-[30px] max-h-[30px] rounded-full"/>
                    </button>
                    <div class="switch__date-text">10-17 марта</div>
                    <button class="previous__date">
                        <img src="{% static 'core/images/crm2/next-accent-red.png' %}" alt=""
                             class="max-w-[30px] max-h-[30px] rounded-full"/>
                    </button>
                </div>
            </div>
            <div class="pt-[50px] pl-[40px] pr-[78px] pb-[32px] max-w-[1040px] grid bg-white rounded-lg">
                <div class="flex gap-[4px] mb-[30px] text-center font-bold">
                    <button class="bg-accent-red text-white py-[7px] font-semibold text-[20px] leading-[24px] px-[34px] rounded-[40px]" data-day="Monday">
                        Понедельник
                    </button>
                    <button class="border border-accent-red text-accent-red py-[7px] font-semibold text-[20px] leading-[24px] px-[34px] rounded-[40px]" data-day="Tuesday">
                        Вторник
                    </button>
                    <button class="border border-accent-red text-accent-red py-[7px] font-semibold text-[20px] leading-[24px] px-[34px] rounded-[40px]" data-day="Wednesday">
                        Среда
                    </button>
                    <button class="border border-accent-red text-accent-red py-[7px] font-semibold text-[20px] leading-[24px] px-[34px] rounded-[40px]" data-day="Thursday">
                        Четверг
                    </button>
                    <button class="border border-accent-red text-accent-red py-[7px] font-semibold text-[20px] leading-[24px] px-[34px] rounded-[40px]" data-day="Friday">
                        Пятница
                    </button>
                    <button class="border border-accent-red text-accent-red py-[7px] font-semibold text-[20px] leading-[24px] px-[34px] rounded-[40px]" data-day="Saturday">
                        Суббота
                    </button>
                </div>
                <div id="lessons-container" class="grid gap-[40px]">
                    {% include 'schedule/lessons_list.html' %}
                </div>
            </div>
        </div>
    </main>
    <div id="lessonModal"
         class="fixed z-10 left-0 top-0 w-full h-full overflow-auto bg-black bg-opacity-40 hidden font-[Qanelas] text-black-main">
        <div class="bg-white p-5 m-auto mt-32 rounded shadow-lg w-1/2">
            <span class="close float-right text-3xl font-bold cursor-pointer">&times;</span>
            <h1 class="text-[25px] font-semibold mb-4">Добавить урок</h1>
            <div id="lessonFormContainer">
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById("lessonModal");
            var closeBtn = document.querySelector(".close");

            closeBtn.onclick = function () {
                modal.style.display = "none";
            };

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };

            document.querySelectorAll('.add-lesson-btn').forEach(button => {
                button.addEventListener('click', function () {
                    const timeId = this.getAttribute("data-time-id");
                    const urlTemplate = `{% url 'subjects:lesson-create' '999' %}`;
                    const url = urlTemplate.replace('999', timeId);
                    fetch(url)
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById('lessonFormContainer').innerHTML = html;
                            modal.style.display = "block";
                        });
                });
            });

            document.querySelectorAll('button[data-day]').forEach(button => {
                button.addEventListener('click', function () {
                    const day = this.getAttribute('data-day');
                    fetchLessonsForDay(day);
                });
            });

            function fetchLessonsForDay(day) {
                const url = `{% url 'schedule:lessons-by-day' 'DAY' %}`.replace('DAY', day);
                fetch(url)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('lessons-container').innerHTML = html;
                    });
            }
        });
    </script>
{% endblock %}
