{% block content %}
<div class="container">
    <h2>Lesson Shifts</h2>
    {% for shift in shifts %}
        <h3>{{ shift.name }} ({{ shift.start_time }} - {{ shift.end_time }})</h3>
        <ul>
            {% for time in shift.times.all %}
                <li>{{ time.start_time }} - {{ time.end_time }}
                    <ul>
                        {% for lesson in time.lessons.all %}
                            <li>{{ lesson.subject }} - {{ lesson.group_name }}</li>
                        {% endfor %}
                    </ul>
                    <!-- Link to create a new lesson for this time -->
                <a href="{% url 'subjects:lesson-create' time.id %}" class="btn btn-primary">Add Lesson</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}
